{{> header}}

<style>
table.dataTable tbody td {
    vertical-align: middle;
}
</style>

<script>
$(document).ready(function() {
    const table = $('#table').DataTable( {
        "stateSave": true,
        "stateDuration": 0,
        "ajax": {
            "url": "/api/get_data?show_webhooks=true&formatted=true",
            "dataSrc": "data.webhooks"
        },
        "paging":   true,
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
        "columns": [
             { "data": "name" },
             { "data": "url" },
             { "data": "types" },
             { "data": "enabled" },
             { "data": "buttons" }
        ],
        "info":     true,
        "order": [[ 0, "asc" ]],
        "search.caseInsensitive": true,
        "columnDefs": [
            { "responsivePriority": 1, "targets": 0 },
            { "responsivePriority": 10003, "targets": 1 },
            { "responsivePriority": 10001, "targets": 2 },
            { "responsivePriority": 10002, "targets": 3 },
            { "responsivePriority": 2, "targets": 4, "orderable": false}
        ],
        "responsive": true
    });
    $('#table').on( 'draw.dt', function () {
        setTimeout( function () {
            table.ajax.reload(null, false);
        }, 5000);
    } );
} );
</script>

<body>
    <br>
    <h1 align="center">Configure {{title}}'s Webhooks!</h1>
    <br>
    <div style="width:90%; margin-left:calc(5%);">
        <a href="/dashboard/webhook/add" role="button" style="float: right;" class="btn btn-success">Add New Webhook</a>
        <br><br>
        <table id="table" class="table table-striped table-bordered dt-responsive nowrap" style="position: center; width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Types</th>
                    <th>Enabled</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <br>
</body>
