{{> header}}

<body>

    <br>
    <div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
        <strong>Error!</strong> {{error}}</a>
    </div>
    {{#show_error}}<br>{{/show_error}}

    <h1 align="center">Add a new Instance to {{title}}!</h1>
    <br>
    <div class="w-75" style="float: none; margin: 0 auto;">
        <form action="" method="post">
            <div class="form-group">
                Name
                <input type="text" class="form-control" name="name" value="{{name}}" required minlength="1" maxlength="30">
            </div>
            <div class="form-group">
                Scheduler Type
                <select class="form-control" name="type" required>
                    <option value="" {{#nothing_selected}}selected{{/nothing_selected}} disabled hidden>Choose Scheduler Type</option>
                    <option value="circle_pokemon" {{#circle_pokemon_selected}}selected{{/circle_pokemon_selected}}>Circle Pokemon</option>
                    <option value="circle_raid" {{#circle_raid_selected}}selected{{/circle_raid_selected}}>Circle Raid</option>
                    <option value="auto_quest" {{#auto_quest_selected}}selected{{/auto_quest_selected}}>Auto Quest</option>
                </select>
            </div>
            <div class="form-group">
                Timezone Offset (in seconds) from UTC
                <input type="number" class="form-control" name="timezone_offset" value="{{timezone_offset}}" step=1 min="-43200" max="43200" required>
            </div>
            <div class="form-group">
                Scan Area
                <textarea class="form-control" rows="5" name="area" required>{{{area}}}</textarea>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <br>
</body>
