{{> header}}
<body>

<script>
    $(document).ready(function() {
        updateStatus();
    })

    function updateStatus() {
        $.ajax({
            url: '/api/get_data?show_status=true',
            success: function (data) {
                $('#processing_current').text(data.data.status.processing.current)
                $('#processing_max').text(data.data.status.processing.max)
                $('#processing_total').text(data.data.status.processing.total)
                $('#processing_processed').text(data.data.status.processing.total - data.data.status.processing.ignored)
                $('#processing_ignored').text(data.data.status.processing.ignored)
                $('#uptime_date').text(new Date(data.data.status.uptime.date * 1000).toLocaleString())
                $('#uptime_days').text(data.data.status.uptime.days)
                $('#uptime_hours').text(data.data.status.uptime.hours)
                $('#uptime_minutes').text(data.data.status.uptime.minutes)
                $('#uptime_seconds').text(data.data.status.uptime.seconds)
                $('#devices_total').text(data.data.status.devices.total)
                $('#devices_online').text(data.data.status.devices.online)
                $('#pokemon_active_total').text(data.data.status.pokemon['active_total'])
                $('#pokemon_active_iv').text(data.data.status.pokemon['active_iv'])
            },
            error: function(xhr) {
                console.error('/api/get_data returned status code ' + xhr.status + ' (' + xhr.statusText + ')')
            },
            complete: function() {
                setTimeout( function () {
                    updateStatus();
                }, 1000);
            }
        })
    }
</script>

<h1 class="mt-3" align="center">Manage {{title}}!</h1>

<div class="w-75" style="float: none; margin: 0 auto;">

    <div class="card border-dark mt-4">
        <div class="card-header text-white bg-dark">
            <h4>General</h4>
        </div>
        <div class="list-group list-group-flush">
            <a href="/dashboard/settings" class="list-group-item list-group-item-action">Settings</a>
        </div>
    </div>

    <div class="card border-dark mt-4">
        <div class="card-header text-white bg-dark">
            <h4>Scanning</h4>
        </div>
        <div class="list-group list-group-flush">
            <a href="/dashboard/devices" class="list-group-item list-group-item-action">Devices</a>
            <a href="/dashboard/devicegroups" class="list-group-item list-group-item-action">Device Groups</a>
            <a href="/dashboard/accounts" class="list-group-item list-group-item-action">Accounts</a>
            <a href="/dashboard/instances" class="list-group-item list-group-item-action">Instances</a>
            <a href="/dashboard/assignments" class="list-group-item list-group-item-action">Auto-Assignments</a>
            <a href="/dashboard/assignmentgroups" class="list-group-item
                list-group-item-action">Assignment Groups</a>
        </div>
    </div>

    <div class="card border-dark mt-4">
        <div class="card-header text-white bg-dark">
            <h4>User Management</h4>
        </div>
        <div class="list-group list-group-flush">
            <a href="/dashboard/users" class="list-group-item list-group-item-action">Users</a>
            <a href="/dashboard/groups" class="list-group-item list-group-item-action">Groups</a>
            <a href="/dashboard/discordrules" class="list-group-item list-group-item-action">Discord Rules</a>
        </div>
    </div>

    <div class="card border-dark mt-4 mb-5">
        <div class="card-header text-white bg-dark">
            <h4>Misc</h4>
        </div>
        <div class="list-group list-group-flush">
            <a href="/dashboard/utilities" class="list-group-item list-group-item-action">Utilities</a>
        </div>
    </div>

</div>
<p class="m-0" align="center">
    Processing: <span id="processing_current">?</span>/<span id="processing_max">?</span> (<span id="processing_processed">?</span>/<span id="processing_total">?</span> - <span id="processing_ignored">?</span> ignored)
</p>
<p class="m-0" align="center">
    Device: <span id="devices_online">?</span>/<span id="devices_total">?</span>
</p>
<p class="m-0" align="center">
    Active Pokemon: <span id="pokemon_active_total">?</span> (IV: <span id="pokemon_active_iv">?</span>)
</p>
<p class="m-0" align="center">
    Uptime: <span id="uptime_date">?</span> (<span id="uptime_days">?</span>d <span id="uptime_hours">?</span>h <span id="uptime_minutes">?</span>m <span id="uptime_seconds">?</span>s)
</p>
<p class="mt-3" align="center">
    Version: <a href="{{version_url}}">{{version}}</a> (<a href="https://github.com/RealDeviceMap/RealDeviceMap/commit/{{version_commit}}">{{version_commit}}</a>)
</p>
<br>
</body>
