{{> header}}

<style>
    table.dataTable tbody td {
        vertical-align: middle;
    }
</style>

<script>
    $(document).ready(function() {
        const table = $('#table').DataTable( {
            "stateSave": true,
            "stateDuration": 0,
            "ajax": {
                data: function (data) {
                    data.show_instances = true;
                    data.formatted = true;
                    data.skip_instance_status = $('#enabled-status-chk').is(':checked') ? false : true;
                },
                error: function (xhr, error, thrown) {
                    console.log(xhr);
                },
                "url": "/api/get_data",
                "dataSrc": "data.instances"
            },
            "paging":   true,
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            "columns": [
                { "data": "name" },
                { "data": "type" },
                { "data": "status" },
                { "data": "count" },
                { "data": "buttons" }
            ],
            "info":     true,
            "order": [[ 0, "asc" ]],
            "search.caseInsensitive": true,
            "columnDefs": [ 
                { "responsivePriority": 1, "targets": 0 },
                { "responsivePriority": 10001, "targets": 1 },
                { "responsivePriority": 10002, "targets": 2, "orderable": false },
                { "responsivePriority": 10003, "targets": 3 },
                { "responsivePriority": 2, "targets": 4, "orderable": false}
            ],
            "responsive": true
        });
        $('#table').on( 'draw.dt', function () {
            setTimeout( function () {
                table.ajax.reload(null, false);
            }, 10000);
        });
    });
    //for storing checkbox
    function saveChkState() {	
        var checkbox = document.getElementById("enabled-status-chk");
        localStorage.setItem("instances-enabled-status-chk", checkbox.checked);
        if (checkbox.checked) {
            alert('Wait for next reload to fetch status.');
        }
    }
    
    window.onload = loadChkState;

    //for loading
    function loadChkState() {
        var checked = JSON.parse(localStorage.getItem("instances-enabled-status-chk"));
        var checkbx = document.getElementById("enabled-status-chk");
        if (checkbx) {
            checkbx.checked = checked;
        }
    }
</script>

<body>
    <br>
    <h1 align="center">Configure {{title}}'s Instances!</h1>
    <br>
    <div style="width:90%; margin-left:calc(5%);">
        <a href="/dashboard/instance/add" role="button" style="float: right;" class="btn btn-success">Add New Instance</a>
        <br><br>
        <input id="enabled-status-chk" type="checkbox" name="enabled-status-chk" onclick="saveChkState()"><label for="enabled-status-chk"> Fetch Status of Instances</label><br> 
        <table id="table" class="table table-striped table-bordered dt-responsive nowrap" style="position: center; width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Devices</th>
                <th width="5%"></th>
            </tr>
            </thead>
            <tbody>
                <td colspan="5" style="text-align:center" class="odd">Loading...</td>
            </tbody>
        </table>
    </div>
    <br>
</body>
