{{> header}}
<body>
<br>
<h1 align="center">Manage {{title}}!</h1>
<div class="w-75" style="float: none; margin: 0 auto;">
    <br>
    <h4>General</h4>
    <div class="list-group">
        <a href="/dashboard/settings" class="list-group-item">Settings</a>
    </div>
    <br>
    <h4>Scanning</h4>
    <div class="list-group">
        <a href="/dashboard/devices" class="list-group-item">Devices</a>
        <a href="/dashboard/accounts" class="list-group-item">Accounts</a>
        <a href="/dashboard/instances" class="list-group-item">Instances</a>
        <a href="/dashboard/assignments" class="list-group-item">Auto-Assignments</a>
    </div>
    <br>
    <h4>User Management</h4>
    <div class="list-group">
        <a href="/dashboard/users" class="list-group-item">Users</a>
        <a href="/dashboard/groups" class="list-group-item">Groups</a>
    </div>
    <br>
    <h4>Misc</h4>
    <div class="list-group">
        <a href="/dashboard/clearquests" class="list-group-item">Clear All Quests</a>
    </div>
    <br>
</div>
</body>
