{{> header}}
<body>
    <br>
    <div class="alert alert-success w-75 {{^show_success}}d-none{{/show_success}}" style="float: none; margin: 0 auto;">
        <strong>Success!</strong> The settings have been updated.</a>
    </div>
    {{#show_success}}<br>{{/show_success}}
    <div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
        <strong>Error!</strong> Please try again later.</a>
    </div>
    {{#show_error}}<br>{{/show_error}}

    <h1 align="center">Configure {{title}}!</h1>
    <div class="w-75" style="float: none; margin: 0 auto;">
        <form action="" method="post">
            <br>
            <h4>General</h4>
            <div class="form-group">
                Page Name
                <input type="text" class="form-control" name="title" value="{{title}}" required>
            </div>
            <br>
            <h4>Map</h4>
            <div class="form-group">
                Start Latitude
                <input type="number" class="form-control" name="start_lat" value="{{start_lat}}" step=any required>
            </div>
            <div class="form-group">
                Start Longitude
                <input type="number" class="form-control" name="start_lon" value="{{start_lon}}" step=any required>
            </div>
            <div class="form-group">
                Start Zoom
                <input type="number" class="form-control" name="start_zoom" value="{{start_zoom}}" step=1 required>
            </div>
            <div class="form-group">
                Tileservers (one per line, Name;URL, must include {x}, {y} and {z})
                <textarea class="form-control" rows="2" name="tileservers" required>{{{tileservers}}}</textarea>
            </div>
            <br>
            <h4>Pokemon</h4>
            <div class="form-group">
                Default time left on new pokemon (in seconds)
                <input type="number" class="form-control" name="pokemon_time_new" value="{{pokemon_time_new}}" step=1 min="60" max="3600" required>
            </div>
            <div class="form-group">
                Default time left on re-seen pokemon (in seconds)
                <input type="number" class="form-control" name="pokemon_time_old" value="{{pokemon_time_old}}" step=1 min="60" max="3600" required>
            </div>
            <br>
            <h4>Webhook</h4>
            <div class="form-group">
                URLs (separated by ";")
                <input type="string" class="form-control" name="webhook_urls" value="{{webhook_urls}}">
            </div>
            <div class="form-group">
                Send Delay
                <input type="number" class="form-control" name="webhook_delay" value="{{webhook_delay}}" step=0.1 min="1.0" max="60.0" required>
            </div>
            <br>
            <h4>Misc</h4>
            <div class="form-group">
                Max Pokemon ID
                <input type="number" class="form-control" name="max_pokemon_id" value="{{max_pokemon_id}}" step=1 min="60" max="3600" required>
            </div>
            <div class="form-group">
                Locale
                <input type="text" class="form-control" name="locale_new" value="{{locale_new}}" required>
            </div>
            <br>
            <div class="checkbox">
                <label><input type="checkbox" name="enable_clearing" value="enable_clearing" {{#enable_clearing}}checked{{/enable_clearing}}> Enable Clearing of removed Pokestops/Gyms (Beta)</label>
            </div>
            <br>
            <div class="checkbox">
                <label><input type="checkbox" name="enable_register_new" value="enable_register_new" {{#enable_register_new}}checked{{/enable_register_new}}> Enable Register</label>
            </div>
            <br>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <br>
</body>
