{{> header}}

<style>
    table.dataTable tbody td {
        vertical-align: middle;
    }
</style>

<script>
	$(document).ready(function() {
		$('#table').DataTable( {
			"ajax": {
				"url": "/api/get_data?show_assignments=true&formatted=true",
				"dataSrc": "data.assignments"
			},
			"paging":   true,
			"lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
			"columns": [
				{ "data": "instance_name" },
				{ "data": "device_uuid" },
                { data: {
                    _:    "time.formatted",
                    sort: "time.timestamp"
                } },
                { "data": "buttons" }
            ],
			"info":     false,
			"order": [[ 2, "asc" ]],
            "columnDefs": [ {
				"targets": [3],
				"orderable": false
			}],
			"search.caseInsensitive": true,
            "responsive": true
		});
	} );
</script>

<body>

    <br>
    <h1 align="center">Configure {{title}}'s Auto-Assignments!</h1>
    <br>
    <div style="width:90%; margin-left:calc(5%);">
        <a href="/dashboard/assignment/add" role="button" style="float: right;" class="btn btn-success">Add New Assignment</a>
        <br><br>
        <table id="table" class="table table-striped table-bordered dt-responsive nowrap" style="position: center; width:100%">
            <thead>
            <tr>
                <th>Instance Name</th>
                <th>Device UUID</th>
                <th>Time</th>
                <th width="5%"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <br>
</body>
