{{> header}}

<body>

    <br>
    <div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
        <strong>Error!</strong> {{error}}</a>
    </div>
    {{#show_error}}<br>{{/show_error}}

    <h1 align="center">Edit Auto-Assignment "{{old_name}}"!</h1>
    <br>
    <div class="w-75" style="float: none; margin: 0 auto;">
        <form action="" method="post">
            <div class="form-group">
                Select Target Device
                <select class="form-control" name="device" required>
                    <optgroup label="Device">
                        {{#devices}}
                        <option value="device:{{uuid}}" {{#selected}}selected{{/selected}}>{{uuid}}</option>
                        {{/devices}}
                    </optgroup>
                    <optgroup label="Device Group">
                        {{#groups}}
                        <option value="group:{{uuid}}" {{#selected}}selected{{/selected}}>{{uuid}}</option>
                        {{/groups}}
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                Select Source Instance (Empty for Any Instance)
                <select class="form-control" name="source_instance">
                    <option value="" {{#nothing_selected_source}}selected{{/nothing_selected_source}}>Any Instance</option>
                    {{#instances}}
                        <option value="{{name}}" {{#selected_source}}selected{{/selected_source}}>{{name}}</option>
                    {{/instances}}
                </select>
            </div>
            <div class="form-group">
                Select Destinaction Instance
                <select class="form-control" name="instance" required>
                    <option value="" {{#nothing_selected}}selected{{/nothing_selected}} disabled hidden>Choose a Instance</option>
                    {{#instances}}
                        <option value="{{name}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                    {{/instances}}
                </select>
            </div>
            <div class="form-group">
                Time (Emtpy for "On Complete")
                <input type="time" class="form-control" name="time" step="1" value="{{time}}" placeholder="HH:MM:SS">
            </div>
            <div class="form-group">
                Date (Emtpy for Any Date)
                <input type="date" class="form-control" name="date" value="{{date}}" placeholder="YYYY-MM-DD">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="enabled" {{enabled}}>
                <label class="form-check-label" for="enabled">Enable Auto-Assignment</label>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <br>
</body>
