{{> header}}

<script>
    $(document).ready(function() {
        $('.type-select').change(function() {
            if ($(this).val() === 'pokemon_iv') {
                $('.pokemon_ids_text').removeClass('d-none');
                $('.scatter_pokemon_ids_text').removeClass('d-none');
                $('.iv_queue_limit_text').removeClass('d-none');
                $('.clear_quests_form').addClass('d-none');
                $('.spin_limit_text').addClass('d-none');
                $('.delay_logout_text').addClass('d-none');
                $('.radius_text').addClass('d-none');
                $('.store_data_text').addClass('d-none');
            } else if ($(this).val() === 'auto_quest') {
                $('.pokemon_ids_text').addClass('d-none');
                $('.scatter_pokemon_ids_text').addClass('d-none');
                $('.iv_queue_limit_text').addClass('d-none');
                $('.clear_quests_form').removeClass('d-none');
                $('.spin_limit_text').removeClass('d-none');
                $('.delay_logout_text').removeClass('d-none');
                $('.radius_text').addClass('d-none');
                $('.store_data_text').addClass('d-none');
            } else if ($(this).val() === 'leveling') {
                $('.pokemon_ids_text').addClass('d-none');
                $('.scatter_pokemon_ids_text').addClass('d-none');
                $('.iv_queue_limit_text').addClass('d-none');
                $('.clear_quests_form').addClass('d-none');
                $('.spin_limit_text').addClass('d-none');
                $('.delay_logout_text').addClass('d-none');
                $('.radius_text').removeClass('d-none');
                $('.store_data_text').removeClass('d-none');
            } else {
                $('.pokemon_ids_text').addClass('d-none');
                $('.scatter_pokemon_ids_text').addClass('d-none');
                $('.iv_queue_limit_text').addClass('d-none');
                $('.clear_quests_form').addClass('d-none');
                $('.spin_limit_text').addClass('d-none');
                $('.delay_logout_text').addClass('d-none');
                $('.radius_text').addClass('d-none');
                $('.store_data_text').addClass('d-none');
            }
        });
    })
</script>

<body>

    <br>
    <div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
        <strong>Error!</strong> {{error}}</a>
    </div>
    {{#show_error}}<br>{{/show_error}}

    <h1 align="center">Edit Instance "{{old_name}}"!</h1>
    <br>
    <div class="w-75" style="float: none; margin: 0 auto;">
        <form action="" method="post">
            <div class="form-group">
                Name
                <input type="text" class="form-control" name="name" value="{{name}}" required minlength="1" maxlength="30">
            </div>
            <div class="form-group">
                Scheduler Type
                <select class="form-control type-select" name="type" required>
                    <option value="" {{#nothing_selected}}selected{{/nothing_selected}} disabled hidden>Choose Scheduler Type</option>
                    <option value="circle_pokemon" {{#circle_pokemon_selected}}selected{{/circle_pokemon_selected}}>Circle Pokemon</option>
                    <option value="circle_smart_pokemon" {{#circle_smart_pokemon_selected}}selected{{/circle_smart_pokemon_selected}}>Circle Smart Pokemon</option>
                    <option value="circle_raid" {{#circle_raid_selected}}selected{{/circle_raid_selected}}>Circle Raid</option>
                    <option value="circle_smart_raid" {{#circle_smart_raid_selected}}selected{{/circle_smart_raid_selected}}>Circle Smart Raid</option>
                    <option value="auto_quest" {{#auto_quest_selected}}selected{{/auto_quest_selected}}>Auto Quest</option>
                    <option value="pokemon_iv" {{#pokemon_iv_selected}}selected{{/pokemon_iv_selected}}>Pokemon IV</option>
                    <option value="leveling" {{#leveling_selected}}selected{{/leveling_selected}}>Leveling</option>
                </select>
            </div>
            <div class="form-group">
                Timezone Offset (in seconds) from UTC
                <input type="number" class="form-control" name="timezone_offset" value="{{timezone_offset}}" step=1 min="-43200" max="43200" required>
            </div>
            <div class="form-group">
                Min Level
                <input type="number" class="form-control" name="min_level" value="{{min_level}}" step=1 min="0" max="40" required>
                Max Level
                <input type="number" class="form-control" name="max_level" value="{{max_level}}" step=1 min="0" max="40" required>
            </div>
            <div class="form-group">
                Scan Area
                <textarea class="form-control" rows="5" name="area" required>{{{area}}}</textarea>
            </div>
            <div class="form-group pokemon_ids_text {{^pokemon_iv_selected}}d-none{{/pokemon_iv_selected}}">
                Pokemon IDs (first = highest priority)
                <textarea class="form-control" rows="5" name="pokemon_ids">{{{pokemon_ids}}}</textarea>
            </div>
            <div class="form-group scatter_pokemon_ids_text {{^pokemon_iv_selected}}d-none{{/pokemon_iv_selected}}">
                Scatter Pokemon IDs ("*" for all, empty for none)
                <textarea class="form-control" rows="5" name="scatter_pokemon_ids">{{{scatter_pokemon_ids}}}</textarea>
            </div>
            <div class="form-group iv_queue_limit_text {{^pokemon_iv_selected}}d-none{{/pokemon_iv_selected}}">
                IV Queue Limit
                <input type="number" class="form-control" name="iv_queue_limit" value="{{iv_queue_limit}}" step=1 min="1" max="9999" required>
            </div>
            <div class="form-group spin_limit_text {{^auto_quest_selected}}d-none{{/auto_quest_selected}}">
                Spin Limit
                <input type="number" class="form-control" name="spin_limit" value="{{spin_limit}}" step=1 min="1" max="3500" required>
            </div>
            <div class="form-group delay_logout_text {{^auto_quest_selected}}d-none{{/auto_quest_selected}}">
                Delay Logout (in seconds, sleep time before account gets swapped)
                <input type="number" class="form-control" name="delay_logout" value="{{delay_logout}}" step=1 min="60" max="86400" required>
            </div>
            <div class="form-group radius_text {{^leveling_selected}}d-none{{/leveling_selected}}">
                Radius (in meters)
                <input type="number" class="form-control" name="radius" value="{{radius}}" step=1 min="100" required>
            </div>
            <div class="checkbox store_data_text {{^leveling_selected}}d-none{{/leveling_selected}}">
                <label><input type="checkbox" name="store_data" value="true" {{#store_data}}checked{{/store_data}}> Store Data in Database</label>
            </div>
            <div class="form-group">
                Account Group
                <input type="text" class="form-control" name="account_group" value="{{account_group}}" maxlength="50">
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="is_event" value="true" {{#is_event}}checked{{/is_event}}> Is Unique Event</label>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <br>
        <form action="" method="post" onsubmit="return confirm('Are you sure that you want to delete the instance {{old_name}}?');">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="delete" value="true">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <br>
        {{#auto_quest_selected}}
        <form action="" method="post" onsubmit="return confirm('Are you sure that you want to clear all quests for instance {{old_name}}?');" class="clear_quests_form">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="clear_quests" value="true">
            <button type="submit" class="btn btn-danger">Clear Quests</button>
        </form>
        {{/auto_quest_selected}}
    </div>
    <br>
</body>
