{{> header-head}}
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img class="align-middle" src="/static/favicons/navbar.png" border="0" height="32px"></a>
    <a class="navbar-brand" href="/">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {{#show_dashboard}}
                <li class="nav-item dropdown{{#page_is_dashboard}} active{{/page_is_dashboard}}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{nav_dashboard}}{{#page_is_dashboard}}<span class="sr-only">(current)</span>{{/page_is_dashboard}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="/dashboard" class="dropdown-item">{{nav_dashboard}}</a>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">General</h6>
                        <a href="/dashboard/settings" class="dropdown-item">Settings</a>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Scanning</h6>
                        <a href="/dashboard/devices" class="dropdown-item">Devices</a>
                        <a href="/dashboard/devicegroups" class="dropdown-item">Device Groups</a>
                        <a href="/dashboard/accounts" class="dropdown-item">Accounts</a>
                        <a href="/dashboard/instances" class="dropdown-item">Instances</a>
                        <a href="/dashboard/assignments" class="dropdown-item">Auto-Assignments</a>
                        <a href="/dashboard/assignmentgroups" class="dropdown-item">Assignment Groups</a>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">User Management</h6>
                        <a href="/dashboard/users" class="dropdown-item">Users</a>
                        <a href="/dashboard/groups" class="dropdown-item">Groups</a>
                        <a href="/dashboard/discordrules" class="dropdown-item">Discord Rules</a>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Misc</h6>
                        <a href="/dashboard/utilities" class="dropdown-item">Utilities</a>
                    </div>
                </li>
            {{/show_dashboard}}
            {{#show_areas}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="areasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{nav_areas}}{{#page_is_areas}}<span class="sr-only">(current)</span>{{/page_is_areas}}
                    </a>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="areasDropdown">
                        <h6 class="dropdown-header">{{nav_areas}}</h6>
                        {{#areas}}
                            <a href="/@/{{area}}" class="dropdown-item">{{area}}</a>
                        {{/areas}}
                    </div>
                </li>
            {{/show_areas}}
            {{#show_stats}}
                <li class="nav-item{{#page_is_stats}} active{{/page_is_stats}}">
                    <a class="nav-link" href="/stats">{{nav_stats}}{{#page_is_stats}}<span class="sr-only">(current)</span>{{/page_is_stats}}</a>
                </li>
            {{/show_stats}}
            {{#buttons_left}}
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}" target="_blank">{{{name}}}</a>
                </li>
            {{/buttons_left}}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {{#buttons_right}}
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}" target="_blank">{{{name}}}</a>
                </li>
            {{/buttons_right}}
            {{#stats_url}}
            <li class="nav-item">
                <a class="nav-link" href="{{stats_url}}" target="_blank">Stats</a>
            </li>
            {{/stats_url}}
            {{^is_logged_in}}
            {{#enable_register}}
            <li class="nav-item{{#page_is_register}} active{{/page_is_register}}">
                <a class="nav-link" href="/register">{{nav_register}}{{#page_is_register}}<span class="sr-only">(current)</span>{{/page_is_register}}</a>
            </li>
            {{/enable_register}}
            <li class="nav-item{{#page_is_login}} active{{/page_is_login}}">
                <a class="nav-link" href="/login">{{nav_login}}{{#page_is_login}}<span class="sr-only">(current)</span>{{/page_is_login}}</a>
            </li>
            {{/is_logged_in}}
            {{#is_logged_in}}
                <li class="nav-item{{#page_is_profile}} active{{/page_is_profile}}">
                    <a class="nav-link" href="/profile">{{username}}{{#page_is_profile}}<span class="sr-only">(current)</span>{{/page_is_profile}}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/logout?redirect={{uri}}">{{nav_logout}}</a>
                </li>
            {{/is_logged_in}}
        </ul>
    </div>
</nav>
