.fill {
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
}
.navbar {
    z-index: 9998;
}
.modal {
    z-index: 9999;
}
.leaflet-control-custom {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
}

table.dataTable tbody td {
    text-align: center;
    vertical-align: middle;
}

table.dataTable tbody .details-control {
    padding: 2.5px;
}

.modal-dialog-scroll {
    overflow-y: initial !important
}
.modal-body-scroll {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}


.btn-on {
    color: #FFFFFF;
    background-color: #6C757D;
}

.btn-on:active,
.btn-on.active,
.open .dropdown-toggle.btn-on {
    color: #FFFFFF;
    background-color: #00AF00;
    background-image: none;
}

.btn-on:hover,
.btn-on:focus,
.open .dropdown-toggle.btn-on {
    color: #FFFFFF;
    background-color: #64C864;
}

.btn-on.disabled,
.btn-on[disabled],
fieldset[disabled] .btn-on,
.btn-on.disabled:hover,
.btn-on[disabled]:hover,
fieldset[disabled] .btn-on:hover,
.btn-on.disabled:focus,
.btn-on[disabled]:focus,
fieldset[disabled] .btn-on:focus,
.btn-on.disabled:active,
.btn-on[disabled]:active,
fieldset[disabled] .btn-on:active,
.btn-on.disabled.active,
.btn-on[disabled].active,
fieldset[disabled] .btn-on.active {
    background-color: #999999;
}

.btn-on .badge {
    color: #6C757D;
    background-color: #FFFFFF;
}


.btn-off {
    color: #FFFFFF;
    background-color: #6C757D;
}

.btn-off:active,
.btn-off.active,
.open .dropdown-toggle.btn-off {
    color: #FFFFFF;
    background-color: #AF0000;
}

.btn-off:hover,
.btn-off:focus,
.open .dropdown-toggle.btn-on {
    color: #FFFFFF;
    background-color: #C86464;
}

.btn-off:active,
.btn-off.active,
.open .dropdown-toggle.btn-off {
}

.btn-off.disabled,
.btn-off[disabled],
fieldset[disabled] .btn-off,
.btn-off.disabled:hover,
.btn-off[disabled]:hover,
fieldset[disabled] .btn-off:hover,
.btn-off.disabled:focus,
.btn-off[disabled]:focus,
fieldset[disabled] .btn-off:focus,
.btn-off.disabled:active,
.btn-off[disabled]:active,
fieldset[disabled] .btn-off:active,
.btn-off.disabled.active,
.btn-off[disabled].active,
fieldset[disabled] .btn-off.active {
    background-color: #999999;
}

.btn-off .badge {
    color: #6C757D;
    background-color: #FFFFFF;
}


.btn-size {
    color: #FFFFFF;
    background-color: #6C757D;
}


.btn-size:active,
.btn-size.active,
.open .dropdown-toggle.btn-size {
    color: #FFFFFF;
    background-color: #0000AF;
}

.btn-size:hover,
.btn-size:focus,
.open .dropdown-toggle.btn-on {
    color: #FFFFFF;
    background-color: #6464C8;
}

.btn-size:active,
.btn-size.active,
.open .dropdown-toggle.btn-size {
}

.btn-size.disabled,
.btn-size[disabled],
fieldset[disabled] .btn-size,
.btn-size.disabled:hover,
.btn-size[disabled]:hover,
fieldset[disabled] .btn-size:hover,
.btn-size.disabled:focus,
.btn-size[disabled]:focus,
fieldset[disabled] .btn-size:focus,
.btn-size.disabled:active,
.btn-size[disabled]:active,
fieldset[disabled] .btn-size:active,
.btn-size.disabled.active,
.btn-size[disabled].active,
fieldset[disabled] .btn-size.active {
    background-color: #999999;
}

.btn-size .badge {
    color: #6C757D;
    background-color: #FFFFFF;
}


/* If you see this: Don't tell anyone */
/* From: https://engageinteractive.co.uk/blog/5-modern-snow-effects */

.winter-is-coming, .snow {
    z-index: 1000;
    pointer-events: none;
}

.winter-is-coming {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background: none;
}

.snow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: falling linear infinite both;
    animation: falling linear infinite both;
    -webkit-transform: translate3D(0, -100%, 0);
    transform: translate3D(0, -100%, 0);
}
.snow--near {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
    background-size: contain;
}
.snow--near + .snow--alt {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}
.snow--mid {
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
    background-size: contain;
}
.snow--mid + .snow--alt {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}
.snow--far {
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
    background-size: contain;
}
.snow--far + .snow--alt {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

@-webkit-keyframes falling {
    0% {
        -webkit-transform: translate3D(-7.5%, -100%, 0);
        transform: translate3D(-7.5%, -100%, 0);
    }
    100% {
        -webkit-transform: translate3D(7.5%, 100%, 0);
        transform: translate3D(7.5%, 100%, 0);
    }
}

@keyframes falling {
    0% {
        -webkit-transform: translate3D(-7.5%, -100%, 0);
        transform: translate3D(-7.5%, -100%, 0);
    }
    100% {
        -webkit-transform: translate3D(7.5%, 100%, 0);
        transform: translate3D(7.5%, 100%, 0);
    }
}