{{> header}}

    <link href="/index.css?timestamp={{timestamp}}" rel="stylesheet">
    <script src="/index.js?timestamp={{timestamp}}&lat={{lat}}&lon={{lon}}&zoom={{zoom}}&start_pokemon={{start_pokemon}}&start_pokestop={{start_pokestop}}&start_gym={{start_gym}}"></script>

    <div class="fill" id="map"></div>

    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog-scroll modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingsModalLabel">{{filter_title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body-scroll">
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_gyms}}class="d-none"{{/hide_gyms}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-gyms" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-gyms" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_gyms}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterGymModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_raids}}class="d-none"{{/hide_raids}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-raids" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-raids" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_raids}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterRaidModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_pokestops}}class="d-none"{{/hide_pokestops}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-pokestops" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-pokestops" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_pokestops}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterPokestopModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_quests}}class="d-none"{{/hide_quests}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-quests" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-quests" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_quests}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterQuestModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_spawnpoints}}class="d-none"{{/hide_spawnpoints}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-spawnpoints" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-spawnpoints" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_spawnpoints}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterSpawnpointModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_pokemon}}class="d-none"{{/hide_pokemon}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-pokemon" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-pokemon" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_pokemon}}
                        <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#filterPokemonModal">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_cells}}class="d-none"{{/hide_cells}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-cells" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-cells" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_cells}}
                        <button class="btn btn-sm btn-primary float-right disabled">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_submission_cells}}class="d-none"{{/hide_submission_cells}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-submission-cells" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-submission-cells" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_submission_cells}}
                        <button class="btn btn-sm btn-primary float-right disabled">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_weathers}}class="d-none"{{/hide_weathers}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-weathers" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-weathers" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_weathers}}
                        <button class="btn btn-sm btn-primary float-right disabled">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" {{#hide_devices}}class="d-none"{{/hide_devices}}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label id="hide-devices" class="btn btn-sm btn-off">
                                <input type="radio" name="options" id="hide" autocomplete="off" checked>{{filter_hide}}
                            </label>
                            <label id="show-devices" class="btn btn-sm btn-on">
                                <input type="radio" name="options" id="show" autocomplete="off">{{filter_show}}
                            </label>
                        </div>
                        {{filter_devices}}
                        <button class="btn btn-sm btn-primary float-right disabled">{{filter_filter}}</button>
                    </div>
                    <div style="height:31px; margin-top: 10px; margin-bottom: 10px" class="text-center">
                        <button type="button" id="exportSettings" class="btn btn-primary">{{filter_export}}</button>
                        <button type="button" id="importSettings" class="btn btn-primary">{{filter_import}}</button>
                        <input type="file" id="importSettingsFile" accept="application/json" class="btn btn-primary" hidden>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#mapstyleModal">{{filter_mapstyle}}</button>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{filter_cancel}}</button>
                    <button type="button" id="saveSettings" class="btn btn-primary">{{filter_save}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterPokemonModal" tabindex="-1" role="dialog" aria-labelledby="filterPokemonModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterPokemonModalLabel">{{filter_pokemon_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-pokemon" class="table table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th>{{filter_image}}</th>
                                <th>{{filter_name}}</th>
                                <th>#</th>
                                <th>{{filter_filter}}</th>
                                <th>{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-pokemon-filter" type="button" class="btn btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-pokemon-filter" type="button" class="btn btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterGymModal" tabindex="-1" role="dialog" aria-labelledby="filterGymModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterGymModalLabel">{{filter_gym_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-gym" class="table table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th>{{filter_image}}</th>
                                <th>{{filter_name}}</th>
                                <th>#</th>
                                <th>{{filter_filter}}</th>
                                <th>{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-gym-filter" type="button" class="btn btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-gym-filter" type="button" class="btn btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterRaidModal" tabindex="-1" role="dialog" aria-labelledby="filterRaidModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterRaidModalLabel">{{filter_raid_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-raid" class="table table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th>{{filter_image}}</th>
                                <th>{{filter_name}}</th>
                                <th>#</th>
                                <th>{{filter_filter}}</th>
                                <th>{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-raid-filter" type="button" class="btn btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-raid-filter" type="button" class="btn btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterPokestopModal" tabindex="-1" role="dialog" aria-labelledby="filterPokestopModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterPokestopModalLabel">{{filter_pokestop_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-pokestop" class="table table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th>{{filter_image}}</th>
                                <th>{{filter_name}}</th>
                                <th>#</th>
                                <th>{{filter_filter}}</th>
                                <th>{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-pokestop-filter" type="button" class="btn btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-pokestop-filter" type="button" class="btn btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterQuestModal" tabindex="-1" role="dialog" aria-labelledby="filterQuestModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterQuestModalLabel">{{filter_quest_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-quest" class="table table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th>{{filter_image}}</th>
                                <th>{{filter_name}}</th>
                                <th>#</th>
                                <th>{{filter_filter}}</th>
                                <th>{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-quest-filter" type="button" class="btn btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-quest-filter" type="button" class="btn btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterSpawnpointModal" tabindex="-1" role="dialog" aria-labelledby="filterSpawnpointModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterSpawnpointModalLabel">{{filter_spawnpoint_filter}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="table-filter-spawnpoint" class="table table-striped table-bordered dt-responsive display nowrap" style="position: center; width:100%">
                        <thead>
                            <tr>
                                <th>{{filter_image}}</th>
                                <th>{{filter_name}}</th>
                                <th>#</th>
                                <th>{{filter_filter}}</th>
                                <th>{{filter_size_properties}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="mr-auto">
                        <button id="reset-spawnpoint-filter" type="button" class="btn btn-danger">{{filter_reset}}</button>
                        <button id="disable-all-spawnpoint-filter" type="button" class="btn btn-danger">{{filter_disable_all}}</button>
                    </div>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mapstyleModal" tabindex="-1" role="dialog" aria-labelledby="mapstyleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mapstyleModalLabel">{{filter_mapstyle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{filter_select_mapstyle}}
                        <select class="form-control" id="select-mapstyle" required></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{filter_close}}</button>
                </div>
            </div>
        </div>
    </div>

{{> footer}}
