.fill {
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
}
.navbar {
    z-index: 9998;
}
.modal {
    z-index: 9999;
}
.leaflet-control-custom {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
}

table.dataTable tbody td {
    text-align: center;
    vertical-align: middle;
}

.modal-dialog-scroll {
    overflow-y: initial !important
}
.modal-body-scroll {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}


.btn-on {
    color: #FFFFFF;
    background-color: #6C757D;
}

.btn-on:active,
.btn-on.active,
.open .dropdown-toggle.btn-on {
    color: #FFFFFF;
    background-color: #00AF00;
    background-image: none;
}

.btn-on:hover,
.btn-on:focus,
.open .dropdown-toggle.btn-on {
    color: #FFFFFF;
    background-color: #64C864;
}

.btn-on.disabled,
.btn-on[disabled],
fieldset[disabled] .btn-on,
.btn-on.disabled:hover,
.btn-on[disabled]:hover,
fieldset[disabled] .btn-on:hover,
.btn-on.disabled:focus,
.btn-on[disabled]:focus,
fieldset[disabled] .btn-on:focus,
.btn-on.disabled:active,
.btn-on[disabled]:active,
fieldset[disabled] .btn-on:active,
.btn-on.disabled.active,
.btn-on[disabled].active,
fieldset[disabled] .btn-on.active {
    background-color: #999999;
}

.btn-on .badge {
    color: #6C757D;
    background-color: #FFFFFF;
}


.btn-off {
    color: #FFFFFF;
    background-color: #6C757D;
}

.btn-off:active,
.btn-off.active,
.open .dropdown-toggle.btn-off {
    color: #FFFFFF;
    background-color: #AF0000;
}

.btn-off:hover,
.btn-off:focus,
.open .dropdown-toggle.btn-on {
    color: #FFFFFF;
    background-color: #C86464;
}

.btn-off:active,
.btn-off.active,
.open .dropdown-toggle.btn-off {
}

.btn-off.disabled,
.btn-off[disabled],
fieldset[disabled] .btn-off,
.btn-off.disabled:hover,
.btn-off[disabled]:hover,
fieldset[disabled] .btn-off:hover,
.btn-off.disabled:focus,
.btn-off[disabled]:focus,
fieldset[disabled] .btn-off:focus,
.btn-off.disabled:active,
.btn-off[disabled]:active,
fieldset[disabled] .btn-off:active,
.btn-off.disabled.active,
.btn-off[disabled].active,
fieldset[disabled] .btn-off.active {
    background-color: #999999;
}

.btn-off .badge {
    color: #6C757D;
    background-color: #FFFFFF;
}


.btn-size {
    color: #FFFFFF;
    background-color: #6C757D;
}


.btn-size:active,
.btn-size.active,
.open .dropdown-toggle.btn-size {
    color: #FFFFFF;
    background-color: #0000AF;
}

.btn-size:hover,
.btn-size:focus,
.open .dropdown-toggle.btn-on {
    color: #FFFFFF;
    background-color: #6464C8;
}

.btn-size:active,
.btn-size.active,
.open .dropdown-toggle.btn-size {
}

.btn-size.disabled,
.btn-size[disabled],
fieldset[disabled] .btn-size,
.btn-size.disabled:hover,
.btn-size[disabled]:hover,
fieldset[disabled] .btn-size:hover,
.btn-size.disabled:focus,
.btn-size[disabled]:focus,
fieldset[disabled] .btn-size:focus,
.btn-size.disabled:active,
.btn-size[disabled]:active,
fieldset[disabled] .btn-size:active,
.btn-size.disabled.active,
.btn-size[disabled].active,
fieldset[disabled] .btn-size.active {
    background-color: #999999;
}

.btn-size .badge {
    color: #6C757D;
    background-color: #FFFFFF;
}