{{> header}}
<body>
    <br>
    <h1 align="center">{{resetpassword_title}}</h1>
    <br>
    <div class="w-75" style="float: none; margin: 0 auto;">
        <form action="" method="post">
            {{#valid}}
            <div class="form-group">
                <label for="password" {{#is_password_error}}class="text-danger"{{/is_password_error}}>{{resetpassword_password}}</label>
                <input type="password" class="form-control {{#is_password_error}}is-invalid{{/is_password_error}}" id="password" name="password" value="{{password}}">
                {{#is_password_error}}<small class="text-danger">{{password_error}}</small>{{/is_password_error}}
            </div>
            <div class="form-group">
                <label for="password-retype" {{#is_password_retype_error}}class="text-danger"{{/is_password_retype_error}}>{{resetpassword_retype_password}}</label>
                <input type="password" class="form-control {{#is_password_retype_error}}is-invalid{{/is_password_retype_error}}" id="password-retype" name="password-retype" value="{{password-retype}}">
                {{#is_password_retype_error}}<small class="text-danger">{{password_retype_error}}</small>{{/is_password_retype_error}}
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="username" value="{{username}}">
            <button type="submit" class="btn btn-primary">{{resetpassword_change}}</button>
            {{/valid}}
            {{#is_error}}{{#valid}}<br><br>{{/valid}}<h4 align="center" class="text-danger">{{{error}}}</h4>{{/is_error}}
            {{#is_success}}{{#valid}}<br><br>{{/valid}}<h4 align="center" class="text-success">{{{success}}}</h4>{{/is_success}}
        </form>
    </div>
    <br>
</body>
