{{> header}}
<body>
    <br>
    <h1 align="center">{{resetpassword_title}}</h1>
    <div class="w-75" style="float: none; margin: 0 auto;">
        <form action="" method="post">
            <div class="form-group">
                <label for="username-email">{{resetpassword_username_email}}</label>
                <input type="username-email" class="form-control" id="username-email" name="username-email" value="{{username-email}}" required>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">{{resetpassword_request}}</button>
            {{#is_error}}<br><br><h4 align="center" class="text-danger">{{{error}}}</h4>{{/is_error}}
            {{#is_success}}<br><br><h4 align="center" class="text-success">{{{success}}}</h4>{{/is_success}}
        </form>
    </div>
    <br>
</body>
