{{> header}}

<!--TODO: Better stat graphs/charts-->
<!--TODO: Fix date picker conflict-->

<style>
a { transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease; }
/* Neutral */
a.neutral i,.neutral h4.list-group-item-heading { color:#dddddd; }
a.neutral:hover { background-color:#dddddd; }
a.neutral:hover * { color:#FFF; }
/* Valor */
a.valor i,.valor h4.list-group-item-heading { color:#dd4b39; }
a.valor:hover { background-color:#dd4b39; }
a.valor:hover * { color:#FFF; }
/* Mystic */
a.mystic i,.mystic h4.list-group-item-heading { color:#3b5998; }
a.mystic:hover { background-color:#3b5998; }
a.mystic:hover * { color:#FFF; }
/* Instinct */
a.instinct i,.instinct h4.list-group-item-heading { color:#FFF444; }
a.instinct:hover { background-color:#FFF444; }
a.instinct:hover * { color:black; }
</style>

<script>
$(document).ready(function() {
    //var $j = jQuery.noConflict(); //TODO: Fix
    $("[data-toggle='datetimepicker']").flatpickr({
        altInput: true,
        altFormat: "F j, Y h\:00 K",
        dateFormat: "U",//"Y-m-d h K",
        enableTime: true
    });
    /*
    $("[data-toggle='datepicker']").datepicker({
        autoHide: true,
        yearFirst: true,
        format: "yyyy-mm-dd",
        zIndex: 2048,
    });
    */
    $("#filter-pokemon-date").change(filterPokemon);
    $("#filter-raids-date").change(filterRaids);
    $("#filter-quests-date").change(filterQuests);
    //$("#filter-pokemon-date").datepicker("setDate", new Date());
    //$("#filter-raids-date").datepicker("setDate", new Date());
    //$("#filter-quests-date").datepicker("setDate", new Date());

    var pieOptions = {
        responsive: true,
        legend: false,
        tooltips: true,
        elements: {
            arc: {
                backgroundColor: colorize.bind(null, false, false),
                hoverBackgroundColor: hoverColorize
            }
        },
        animation: {
            animateScale: true,
            animateRotate: true
        }
    };

    var barOptions = {
        legend: {
            position: 'bottom',
        },
        tooltips: true,
        title: {
            display: true,
            text: 'IV Spread'
        },
        tooltips: { mode: "nearest", intersect: false, },
        hover: { mode: "nearest", intersect: true },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    stepSize: 25
                }
            }]
        },
        elements: {
            rectangle: {
                backgroundColor: colorize.bind(null, false, false),
                borderColor: colorize.bind(null, true, false),
                borderWidth: 2
            }
        }
    };

    var donutOptions = {
        responsive: true,
        legend: {
            position: 'top',
        },
        title: {
            display: true,
            text: 'Level Spread'
        },
        animation: {
            animateScale: true,
            animateRotate: true
        }
    };

    var scanChart = new Chart('scanChart', {
        type: 'pie',
        data: {
            datasets: [],
            labels: [
                'Seen',
                'Scanned'
            ]
        },
        options: pieOptions
    });

    var levelChart = new Chart('levelChart', {
        type: 'doughnut',
        data: {
            datasets: [],
            labels: [
                'Level 01-09',
                'Level 10-19',
                'Level 20-29',
                'Level 30-35'
            ]
        },
        options: donutOptions
    });

    var ivChart = new Chart('ivChart', {
        type: 'bar',
        data: {
            datasets: []
        },
        options: barOptions
    });

    $("#comday-stats").hide();
    $("#filter-pokemon-comday").on('change', function() {
        var start = $("#filter-date-start").val();
        var end = $("#filter-date-end").val();
        var pokemonId = this.value;
        console.log("Start:", start, "End:", end, "Pokemon:", pokemonId);
        getCommDayStats(pokemonId, start, end);
    });

    getDashboardStats();
    filterPokemon();
    filterRaids();
    filterQuests();
});

function getDashboardStats() {
    $.ajax({ url: "/api/get_stats?dashboard=true&formatted=true", success: function(result) {
        console.log("Result:", result);
        if (result == null) {
            console.log("Failed to parse result value.");
            return;
        }
        updateCounter(".total-pokemon-count", result.data.pokemon_total);
        updateCounter(".pokemon-count", result.data.pokemon_active);
        updateCounter(".total-iv-count", result.data.pokemon_iv_total);
        updateCounter(".active-iv-count", result.data.pokemon_iv_active);

        updateCounter(".gyms-count", result.data.gyms_total);
        updateCounter(".neutral-gyms-count", result.data.gyms_neutral);
        updateCounter(".mystic-gyms-count", result.data.gyms_mystic);
        updateCounter(".valor-gyms-count", result.data.gyms_valor);
        updateCounter(".instinct-gyms-count", result.data.gyms_instinct);
        updateCounter(".raids-count", result.data.gyms_raids);

        updateCounter(".pokestop-count", result.data.pokestops_total);
        updateCounter(".lured-pokestop-count", result.data.pokestops_lures_normal);
        updateCounter(".lured-glacial-pokestop-count", result.data.pokestops_lures_glacial);
        updateCounter(".lured-mossy-pokestop-count", result.data.pokestops_lures_mossy);
        updateCounter(".lured-magnetic-pokestop-count", result.data.pokestops_lures_magnetic);
        updateCounter(".invasions-count", result.data.pokestops_invasions);
        updateCounter(".quest-pokestop-count", result.data.pokestops_quests);

        updateCounter(".spawnpoint-count", result.data.spawnpoints_total);
        updateCounter(".found-spawnpoint-count", result.data.spawnpoints_found);
        updateCounter(".missing-spawnpoint-count", result.data.spawnpoints_missing);
    }});
}

function getCommDayStats(pokemonId, start, end) {
    $.ajax({ url: "/api/get_stats?commday=true&pokemon_id="+pokemonId+"&start="+start+"&end="+end, success: function(result) {
        console.log("Result:", result);
        $("#comday-stats").show();
        $("#pkmn-title").text(result.data.evo1_name + " Scans");
        $("#total-seen").text(numberWithCommas(result.data.stats.total || 0) + " seen");
        $("#total-scanned").text(numberWithCommas(result.data.stats.with_iv || 0) + " scanned");
        $("#iv100").text(result.data.stats.iv_100 || 0);
        $("#iv90").text(result.data.stats.iv_90_99 || 0);
        $("#iv0").text(result.data.stats.iv_0 || 0);
        $("#total-male").text(numberWithCommas(result.data.stats.male || 0) + " (" + Math.round((result.data.stats.male / result.data.stats.total) * 100, 2) + "%)");
        $("#total-female").text(numberWithCommas(result.data.stats.female || 0) + " (" + Math.round((result.data.stats.female / result.data.stats.total) * 100, 2) + "%)");
        //TODO: Check if pokemon is a 3 stage evo
        $("#evo1").attr("src", "./static/img/pokemon/"+result.data.pokemon_id+".png");
        $("#evo2").attr("src", "./static/img/pokemon/"+(parseInt(result.data.pokemon_id) + 1)+".png");
        $("#evo3").attr("src", "./static/img/pokemon/"+(parseInt(result.data.pokemon_id) + 2)+".png");
        $("#evo1-text").text(result.data.evo1_name);
        $("#evo2-text").text(result.data.evo2_name);
        $("#evo3-text").text(result.data.evo3_name);

        removeDataset(scanChart);
        var scanData = {
          data: [result.data.stats.total || 0, result.data.stats.with_iv || 0],
          backgroundColor: [
            'green',
            'blue'
          ],
          label: 'Seen'
        };
        addDataset(scanChart, scanData);

        removeDataset(levelChart);
        var levelData = {
            data: [
                result.data.stats.level_1_9 || 0,
                result.data.stats.level_10_19 || 0,
                result.data.stats.level_20_29 || 0,
                result.data.stats.level_30_35 || 0
            ],
            backgroundColor: [
                'red',
                'yellow',
                'green',
                'blue'
            ],
            label: 'Levels'
        };
        addDataset(levelChart, levelData);

        removeDataset(ivChart);

        addDataset(ivChart, { data: [result.data.stats.iv_0], backgroundColor: 'black', label: '0% IV' });
        addDataset(ivChart, { data: [result.data.stats.iv_1_9], backgroundColor: 'red', label: '1-9% IV' });
        addDataset(ivChart, { data: [result.data.stats.iv_10_19], backgroundColor: 'pink', label: '10-19% IV' });
        addDataset(ivChart, { data: [result.data.stats.iv_20_29], backgroundColor: 'brown', label: '20-29% IV' });
        addDataset(ivChart, { data: [result.data.stats.iv_30_39], backgroundColor: 'purple', label: '30-39% IV' });
        addDataset(ivChart, { data: [result.data.stats.iv_40_49], backgroundColor: 'gray', label: '40-49% IV' });
        addDataset(ivChart, { data: [result.data.stats.iv_50_59], backgroundColor: 'olive', label: '50-59% IV' });
        addDataset(ivChart, { data: [result.data.stats.iv_60_69], backgroundColor: 'magenta', label: '60-69% IV' });
        addDataset(ivChart, { data: [result.data.stats.iv_70_79], backgroundColor: 'blue', label: '70-79% IV' });
        addDataset(ivChart, { data: [result.data.stats.iv_80_89], backgroundColor: 'yellow', label: '80-89% IV' });
        addDataset(ivChart, { data: [result.data.stats.iv_90_99], backgroundColor: 'orange', label: '90-99% IV' });
        addDataset(ivChart, { data: [result.data.stats.iv_100], backgroundColor: 'green', label: '100% IV' });
    }});
}

function filterPokemon() {
    var date = $("#filter-pokemon-date").val();
    console.log("Date:", date);
    $.ajax({ url: "/api/get_stats?pokemon=true&date=" + (date || "2019-12-20"), success: function(result) {
        console.log("Result:", result);
        if (result == null) {
            console.log("Failed to parse pokemon stats.");
            return;
        }
        var html = "";
        $("#pokemon-stats-table").html(html);
        result.data.stats.forEach(function(stat) {
            html += "<div class='col-sm-2 col-sd-offset-1 text-center'>";
            html +=   "<img src='./static/img/pokemon/" + stat.pokemon_id + ".png'' width='48' height='48'>";
            html +=   "<div class='card-body'>";
            html +=     "<span class='text-nowrap'><b>" + stat.name + "</b> #" + stat.pokemon_id + "</span>";
            html +=     "<p class='card-text text-nowrap'>";
            html +=       "Seen: <span>" + stat.count + "</span><br>";
            html +=       "Shiny: <span>" + stat.shiny + "</span>";
            html +=     "</p>";
            html +=   "</div>";
            html += "</div>";
        });
        $("#pokemon-stats-table").html(html);
    }});
}

function filterRaids() {
    var date = $("#filter-raids-date").val();
    console.log("Date:", date);
    $.ajax({ url: "/api/get_stats?raids=true&date=" + (date || "2019-12-20"), success: function(result) {
        console.log("Result:", result);
        if (result == null) {
            console.log("Failed to parse raid stats.");
            return;
        }

        var html = "";
        $("#raid-stats-table").html(html);
        result.data.raid_stats.forEach(function(stat) {
            html += "<div class='col-sm-2 col-sd-offset-1 text-center'>";
            html +=   "<img src='./static/img/pokemon/" + stat.pokemon_id + ".png' width='48' height='48'>";
            html +=   "<div class='card-body'>";
            html +=     "<span class='text-nowrap'><b>" + stat.name + "</b> #" + stat.pokemon_id + "</span>";
            html +=     "<p class='card-text text-nowrap'>";
            html +=       "Total: <span>" + stat.count + "</span>";
            html +=     "</p>";
            html +=   "</div>";
            html += "</div>";
        });
        $("#raid-stats-table").html(html);

        html = "";
        $("#egg-stats-table").html(html);
        result.data.egg_stats.forEach(function(stat) {
            html += "<div class='col-sm-2 col-sd-offset-1 text-center'>";
            html +=   "<img src='./static/img/egg/" + stat.level + ".png' width='48' height='48'>";
            html +=   "<div class='card-body'>";
            html +=     "<span class='text-nowrap'><b>Level " + stat.level + "</b></span>";
            html +=     "<p class='card-text text-nowrap'>";
            html +=       "Total: <span>" + stat.count + "</span>";
            html +=     "</p>";
            html +=   "</div>";
            html += "</div>";
        });
        $("#egg-stats-table").html(html);
    }});
}

function filterQuests() {
    var date = $("#filter-quests-date").val();
    console.log("Date:", date);
    $.ajax({ url: "/api/get_stats?quests=true&date=" + (date || "2019-12-20"), success: function(result) {
        console.log("Result:", result);
        if (result == null) {
            console.log("Failed to parse quest stats.");
            return;
        }

        var html = "";
        $("#quest-item-stats-table").html(html);
        result.data.quest_item_stats.forEach(function(stat) {
            html += "<div class='col-sm-2 col-sd-offset-1 text-center'>";
            html +=   "<img src='./static/img/item/" + stat.item_id + ".png' width='48' height='48'>";
            html +=   "<div class='card-body'>";
            html +=     "<span class='text-nowrap'><b>" + stat.name + "</b> #" + stat.item_id + "</span>";
            html +=     "<p class='card-text text-nowrap'>";
            html +=       "Total: <span>" + stat.count + "</span>";
            html +=     "</p>";
            html +=   "</div>";
            html += "</div>";
        });
        $("#quest-item-stats-table").html(html);

        html = "";
        $("#quest-pokemon-stats-table").html(html);
        result.data.quest_pokemon_stats.forEach(function(stat) {
            html += "<div class='col-sm-2 col-sd-offset-1 text-center'>";
            html +=   "<img src='./static/img/pokemon/" + stat.pokemon_id + ".png' width='48' height='48'>";
            html +=   "<div class='card-body'>";
            html +=     "<span class='text-nowrap'><b>" + stat.name + "</b> #" + stat.pokemon_id + "</span>";
            html +=     "<p class='card-text text-nowrap'>";
            html +=       "Total: <span>" + stat.count + "</span>";
            html +=     "</p>";
            html +=   "</div>";
            html += "</div>";
        });
        $("#quest-pokemon-stats-table").html(html);
    }});
}

function addDataset(chart, data) {
  chart.data.datasets.push(data);
  chart.update();
}

function removeDataset(chart) {
    //chart.data.datasets.shift();
    chart.data.datasets = [];
    //chart.data.labels.pop();
    //chart.data.datasets.forEach((dataset) => {
    //  dataset.data.pop();
    //});
    chart.update();
}

function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function updateCounter(name, value) {
    $({ counter: 0 }).animate({ counter: value }, {
        duration: 1500,
        easing: 'swing', // can be anything
        step: function() { // called on every step
            // Update the element's text with rounded-up value:
            $(name).text(numberWithCommas(Math.round(this.counter)));
        }
    });
}

function colorize(opaque, hover, ctx) {
    var v = ctx.dataset.data[ctx.dataIndex];
    var c = v < -50 ? '#D60000'
        : v < 0 ? '#F46300'
        : v < 50 ? '#0358B6'
        : '#44DE28';
    var opacity = hover ? 1 - Math.abs(v / 150) - 0.2 : 1 - Math.abs(v / 150);
    return opaque ? c : transparentize(c, opacity);
}

function hoverColorize(ctx) {
    return colorize(false, true, ctx);
}

function transparentize(color, opacity) {
	  var alpha = opacity === undefined ? 0.5 : 1 - opacity;
	  return Color(color).alpha(alpha).rgbString();
}
</script>

<h2 class="page-header text-center">{{title}}'s {{title_stats}}</h2>
<ul class="nav nav-pills mb-3 justify-content-center" role="tablist">
  <li class="nav-item"><a class="nav-link active" id="overview-tab" role="tab" aria-controls="overview" aria-selected="true" data-toggle="pill" href="#overview">{{stats_tab_overview}}</a></li>
  <li class="nav-item"><a class="nav-link" id="pokemon-tab" role="tab" aria-controls="pokemon" aria-selected="false" data-toggle="pill" href="#pokemon">{{stats_tab_pokemon}}</a></li>
  <li class="nav-item"><a class="nav-link" id="raids-tab" role="tab" aria-controls="raids" aria-selected="false" data-toggle="pill" href="#raids">{{stats_tab_raids}}</a></li>
  <li class="nav-item"><a class="nav-link" id="quests-tab" role="tab" aria-controls="quests" aria-selected="false" data-toggle="pill" href="#quests">{{stats_tab_quests}}</a></li>
  <li class="nav-item"><a class="nav-link" id="invasions-tab" role="tab" aria-controls="invasions" aria-selected="false" data-toggle="pill" href="#invasions">{{stats_tab_invasions}}</a></li>
  <li class="nav-item"><a class="nav-link" id="commday-tab" role="tab" aria-controls="commday" aria-selected="false" data-toggle="pill" href="#commday">{{stats_tab_commday}}</a></li>
</ul>

<div class="tab-content container">
  <!-- Start Overview Tab -->
  <div id="overview" class="tab-pane fade show active" role="tabpanel" aria-labelledby="overview-tab">

<h2 class="page-header text-center">{{stats_overview}}</h2>
<div class="card text-center p-1 m-3">
  <div class="card-header bg-dark text-light"><b>{{stats_overview}}</b></div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item">
              <h3 class="pull-right"><img src="./static/img/item/1.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading pokemon-count">0</h4>
              <p class="list-group-item-text">{{stats_active_pokemon}}</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item">
              <h3 class="pull-right"><img src="./static/img/team/0.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading gyms-count">0</h4>
              <p class="list-group-item-text">{{stats_total_gyms}}</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item">
              <h3 class="pull-right"><img src="./static/img/item/1402.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading raids-count">0</h4>
              <p class="list-group-item-text">{{stats_active_raids}}</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item">
              <h3 class="pull-right"><img src="./static/img/pokestop/0.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading pokestop-count">0</h4>
              <p class="list-group-item-text">{{stats_total_pokestops}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card text-center p-1 m-3">
  <div class="card-header bg-dark text-light"><b>{{stats_pokemon}}</b></div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item">
              <h3 class="pull-right"><img src="./static/img/item/1.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading total-pokemon-count">0</h4>
              <p class="list-group-item-text">{{stats_total_pokemon}}</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item">
              <h3 class="pull-right"><img src="./static/img/item/1.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading pokemon-count">0</h4>
              <p class="list-group-item-text">{{stats_active_pokemon}}</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item">
              <h3 class="pull-right"><img src="./static/img/100.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading total-iv-count">0</h4>
              <p class="list-group-item-text">{{stats_total_ivs}}</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item">
              <h3 class="pull-right"><img src="./static/img/100.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading active-iv-count">0</h4>
              <p class="list-group-item-text">{{stats_active_ivs}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card text-center p-1 m-3">
  <div class="card-header bg-dark text-light"><b>Teams</b></div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item neutral">
              <h3 class="pull-right"><img src="./static/img/team/0.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading neutral-gyms-count">0</h4>
              <p class="list-group-item-text">{{stats_neutral_gyms}}</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item valor">
              <h3 class="pull-right"><img src="./static/img/team/2.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading valor-gyms-count">0</h4>
              <p class="list-group-item-text">{{stats_valor_gyms}}</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item mystic">
              <h3 class="pull-right"><img src="./static/img/team/1.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading mystic-gyms-count">0</h4>
              <p class="list-group-item-text">{{stats_mystic_gyms}}</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item instinct">
              <h3 class="pull-right"><img src="./static/img/team/3.png" width="64" height="64"/></h3>
              <h4 class="list-group-item-heading instinct-gyms-count">0</h4>
              <p class="list-group-item-text">{{stats_instinct_gyms}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card text-center p-1 m-3">
  <div class="card-header bg-dark text-light"><b>{{stats_pokestops}}</b></div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/img/pokestop/i0.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading invasions-count">0</h4>
            <p class="list-group-item-text">{{stats_invasions}}</p>
          </a>
        </div>
        <div class="col-md-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/img/pokestop/1.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading lured-pokestop-count">0</h4>
            <p class="list-group-item-text">{{stats_normal_lures}}</p>
          </a>
        </div>
        <div class="col-md-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/img/pokestop/2.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading lured-glacial-pokestop-count">0</h4>
            <p class="list-group-item-text">{{stats_glacial_lures}}</p>
          </a>
        </div>
        <div class="col-md-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/img/pokestop/3.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading lured-mossy-pokestop-count">0</h4>
            <p class="list-group-item-text">{{stats_mossy_lures}}</p>
          </a>
        </div>
        <div class="col-md-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/img/pokestop/4.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading lured-magnetic-pokestop-count">0</h4>
            <p class="list-group-item-text">{{stats_magnetic_lures}}</p>
          </a>
        </div>
        <div class="col-md-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/img/item/0.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading quest-pokestop-count">0</h4>
            <p class="list-group-item-text">{{stats_field_research}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card text-center p-1 m-3">
  <div class="card-header bg-dark text-light"><b>{{stats_spawnpoint_timers}}</b></div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/img/spawnpoint/0.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading spawnpoint-count">0</h4>
            <p class="list-group-item-text">{{stats_spawnpoint_total}}</p>
          </a>
        </div>
        <div class="col-lg-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/img/spawnpoint/1.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading found-spawnpoint-count">0</h4>
            <p class="list-group-item-text">{{stats_spawnpoint_found}}</p>
          </a>
        </div>
        <div class="col-lg-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/img/spawnpoint/0.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading missing-spawnpoint-count">0</h4>
            <p class="list-group-item-text">{{stats_spawnpoint_missing}}</p>
          </a>
        </div>
        <!--
        <div class="col-lg-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/images/percentage.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading percentage-spawnpoint-count">{{spawnpoints_percent}}%</h4>
            <p class="list-group-item-text">Percentage</p>
          </a>
        </div>
        <div class="col-lg-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/images/30min.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading timer-30-min-count">{{spawnpoints_min30}}%</h4>
            <p class="list-group-item-text">30 min timers</p>
          </a>
        </div>
        <div class="col-lg-4 p-1">
          <a class="list-group-item">
            <h3 class="pull-right"><img src="./static/images/60min.png" width="64" height="64"/></h3>
            <h4 class="list-group-item-heading timer-60-min-count">{{spawnpoints_min60}}%</h4>
            <p class="list-group-item-text">60 min timers</p>
          </a>
        </div>
        -->
      </div>
    </div>
  </div>
</div>

  </div>
  <!-- End Overview Tab -->

  <!-- Start Pokemon Tab -->
  <div id="pokemon" class="tab-pane fade" role="tabpanel" aria-labelledby="pokemon-tab">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="filter-pokemon-date">Date</label>
        </div>
        <input id="filter-pokemon-date" type="text" class="form-control" data-toggle="datepicker">
      </div>
      <!--
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="search-input">Search Pokemon</label>
        </div>
        <input type="text" id="filter-pokemon" class="form-control input-lg" onkeyup="filterPokemon()" placeholder="Search by name.." title="Type in a name">
      </div>
      -->
    </div>

    <h3 class="page-header text-center">{{stats_pokemon}}</h3>
    <div id="pokemon-stats-table" class="row justify-content-center">
    {{#pokemon}}
    <div class="col-sm-2 col-sd-offset-1 text-center">
      <img src="./static/img/pokemon/{{pokemon_id}}.png"" width="48" height="48">
      <div class="card-body">
        <span class="text-nowrap"><b>{{name}}</b> #{{pokemon_id}}</span>
        <p class="card-text text-nowrap">
          Seen:
          <span>{{count}}</span><br>
          Shiny:
          <span>{{shiny}}</span>
        </p>
      </div>
    </div>
    {{/pokemon}}
    </div>
  </div>
  <!-- End Pokemon Tab -->

  <!-- Start Raids Tab -->
  <div id="raids" class="tab-pane fade" role="tabpanel" aria-labelledby="raids-tab">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="filter-raids-date">Date</label>
        </div>
        <input id="filter-raids-date" type="text" class="form-control" data-toggle="datepicker">
      </div>
    </div>

    <h3 class="page-header text-center">Eggs</h3>
    <div id="egg-stats-table" class="row justify-content-center">
    {{#eggs}}
    <div class="col-sm-2 col-sd-offset-1 text-center">
      <img src="./static/img/egg/{{level}}.png"" width="48" height="48">
      <div class="card-body">
        <span class="text-nowrap"><b>Level {{level}}</b></span>
        <p class="card-text text-nowrap">
          Total:
          <span>{{count}}</span>
        </p>
      </div>
    </div>
    {{/eggs}}
    </div>
    <br>
    <h3 class="page-header text-center">Raids</h3>
    <div id="raid-stats-table" class="row justify-content-center">
    {{#raids}}
    <div class="col-sm-2 col-sd-offset-1 text-center">
      <img src="./static/img/pokemon/{{pokemon_id}}.png"" width="48" height="48">
      <div class="card-body">
        <span class="text-nowrap"><b>{{name}}</b> #{{pokemon_id}}</span>
        <p class="card-text text-nowrap">
          Total:
          <span>{{count}}</span>
        </p>
      </div>
    </div>
    {{/raids}}
    </div>
  </div>
  <!-- End Raids Tab -->

  <!-- Start Quests Tab -->
  <div id="quests" class="tab-pane fade" role="tabpanel" aria-labelledby="quests-tab">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="filter-quests-date">Date</label>
        </div>
        <input id="filter-quests-date" type="text" class="form-control" data-toggle="datepicker">
      </div>
    </div>

    <h3 class="page-header text-center">Quests Item Rewards</h3>
    <div id="quest-item-stats-table" class="row justify-content-center">
    {{#quests_items}}
    <div id="item-{{item_id}}" class="col-sm-2 col-sd-offset-1 text-center">
      <img src="./static/img/item/{{item_id}}.png"" width="48" height="48">
      <div class="card-body">
        <span class="text-nowrap"><b>{{name}}</b> #{{item_id}}</span>
        <p class="card-text text-nowrap">
          Total:
          <span id="reward-type-{{item_id}}">{{count}}</span>
        </p>
      </div>
    </div>
    {{/quests_items}}
    </div>
    <br>
    <h3 class="page-header text-center">Quests Pokemon Rewards</h3>
    <div id="quest-pokemon-stats-table" class="row justify-content-center">
    {{#quests_pokemon}}
    <div id="pkmn-{{pokemon_id}}" class="col-sm-2 col-sd-offset-1 text-center">
      <img src="./static/img/pokemon/{{pokemon_id}}.png"" width="48" height="48">
      <div class="card-body">
        <span class="text-nowrap"><b>{{name}}</b> #{{pokemon_id}}</span>
        <p class="card-text text-nowrap">
          Total:
          <span id="reward-pkmn-{{pokemon_id}}">{{count}}</span>
        </p>
      </div>
    </div>
    {{/quests_pokemon}}
    </div>
  </div>
  <!-- End Quests Tab -->

  <!-- Start Invasions Tab -->
  <div id="invasions" class="tab-pane fade" role="tabpanel" aria-labelledby="invasions-tab">
    <h3 class="page-header text-center">Invasions</h3>
    <div class="row justify-content-center">
    {{#invasions}}
    <div id="pkmn-{{id}}" class="col-sm-2 col-sd-offset-1 text-center">
      <img src="./static/img/grunt_type/{{type}}.png"" width="48" height="48">
      <div class="card-body">
        <span class="text-nowrap"><b>{{name}}</b></span>
        <p class="card-text text-nowrap">
          Total:
          <span id="grunt-type-{{type}}">{{count}}</span>
        </p>
      </div>
    </div>
    {{/invasions}}
    </div>
  </div>
  <!-- End Invasions Tab -->

  <!-- Start Community Day Tab -->
  <div id="commday" class="tab-pane fade" role="tabpanel" aria-labelledby="commday-tab">
    <h3 class="page-header text-center">{{stats_community_day}}</h3>
    <div class="row">
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <label class="input-group-text" for="filter-date">{{stats_filter_start_date}}</label>
        </div>
        <input id="filter-date-start" class="flatpickr" placeholder="Select Date & Time.." data-toggle="datetimepicker">
        <div class="input-group-prepend">
          <label class="input-group-text" for="filter-date">{{stats_filter_end_date}}</label>
        </div>
        <input id="filter-date-end" class="flatpickr" placeholder="Select Date & Time.." data-toggle="datetimepicker">
        <div class="input-group-prepend">
          <label class="input-group-text" for="filter-pokemon-comday">{{stats_pokemon}}</label>
        </div>
        <select id="filter-pokemon-comday" class="custom-select">
          <option disabled selected>{{stats_filter_select}}</option>
            {{#pokemon_ids}}
                <option value="{{id}}">{{name}}</option>
            {{/pokemon_ids}}
        </select>
      </div>
    </div>

    <div id="comday-stats" class="container">
    <div class="row m-2">
      <div class="col-md-5">
        <div class="row p-2">
          <div class="col" style="background: white">
            <h4 id="pkmn-title">{{stats_scans}}</h4>
            <div class="row p-2">
              <div class="col-lg-6">
                <div class="wrapper"><canvas id="scanChart"></canvas></div>
              </div>
              <div class="col-lg-6 justify-content-right">
                <h5 id="total-seen">0 {{stats_seen}}</h5>
                <h6 id="total-scanned">0 {{stats_scanned}}</h6>
              </div>
            </div>
            <div class="row p-2">
              <div class="col" style="background: white">
                <span><b>{{stats_100iv}}</b><span id="iv100">0</span></span>
                <span><b>{{stats_90iv}}</b><span id="iv90">0</span></span>
                <span><b>{{stats_0iv}}</b><span id="iv0">0</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <div class="col" style="background: white">
            <div class="wrapper"><canvas id="levelChart"></canvas></div>
          </div>
        </div>
      </div>
      <div class="col-md-7 p-2" style="background: white">
        <div class="wrapper"><canvas id="ivChart"></canvas></div>
      </div>
    </div>
    <div class="row p-2 m-2">
      <div class="col-md-4" style="background: white">
        <h3>{{stats_sex}}</h3>
        <span><span id="total-male">0</span> {{stats_male_spawns}}</span><br>
        <span><span id="total-female">0</span> {{stats_female_spawns}}</span>
      </div>
      <div class="col-md-8" style="background: white">
        <div class="row text-center">
          <div class="col-4">
            <img id="evo1" src="#" height=72 width=72/><br>
            <b id="evo1-text"></b>
          </div>
          <div class="col-4">
            <img id="evo2" src="#" height=72 width=72/><br>
            <b id="evo2-text"></b>
          </div>
          <div class="col-4 justify-content-end">
            <img id="evo3" src="#" height=72 width=72/><br>
            <b id="evo3-text"></b>
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>
  <!-- End Community Day Tab -->
</div>

{{> footer}}
