{{> header}}

<link rel="stylesheet" text="text/css" href="./static/css/stats.css">
<script text="text/javascript" src="./static/js/utils.js"></script>

<script>
    $(document).ready(function() {
        var now = Date.now();
        var csrf = "{{csrf}}";
        $("[data-toggle='datetimepicker']").flatpickr({
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
            enableTime: false,
            defaultDate: now
        });
        $("#filter-date-start").flatpickr({
            altInput: true,
            altFormat: "F j, Y h\:00 K",
            dateFormat: "U",//"Y-m-d h K",
            enableTime: true,
            defaultDate: now
        });
        $("#filter-date-end").flatpickr({
            altInput: true,
            altFormat: "F j, Y h\:00 K",
            dateFormat: "U",//"Y-m-d h K",
            enableTime: true,
            defaultDate: now
        });
        $("#filter-pokemon-date").change(filterPokemon);
        $("#filter-raids-date").change(filterRaids);
        $("#filter-quests-date").change(filterQuests);
        $("#filter-invasions-date").change(filterInvasions);

        var pieOptions = {
            responsive: true,
            legend: false,
            tooltips: true,
            elements: {
                arc: {
                    backgroundColor: colorize.bind(null, false, false),
                    hoverBackgroundColor: hoverColorize
                }
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };

        var barOptions = {
            legend: {
                position: 'bottom',
            },
            tooltips: true,
            title: {
                display: true,
                text: 'IV Spread'
            },
            tooltips: { mode: "nearest", intersect: false, },
            hover: { mode: "nearest", intersect: true },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 25
                    }
                }]
            },
            elements: {
                rectangle: {
                    backgroundColor: colorize.bind(null, false, false),
                    borderColor: colorize.bind(null, true, false),
                    borderWidth: 2
                }
            }
        };

        var lineOptions = {
            legend: {
                position: 'bottom',
            },
            tooltips: true,
            title: {
                display: true,
                text: ""
            },
            tooltips: { mode: "nearest", intersect: false, },
            hover: { mode: "nearest", intersect: true },
            options: {
                responsive: true,
                maintainAspectRatio: true
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        type: "logarithmic"
                    }
                }]
            },
            elements: {
                rectangle: {
                    backgroundColor: "black",
                    borderColor: "black",
                    borderWidth: 0.5
                }
            }
        };

        var donutOptions = {
            responsive: true,
            legend: {
                position: 'left',
            },
            title: {
                display: true,
                text: 'Level Spread'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };

        var teamOptions = {
            responsive: true,
            legend: false,
            tooltips: { mode: "nearest", intersect: false, },
            hover: { mode: "nearest", intersect: true },
            elements: {
                arc: {
                    backgroundColor: colorize.bind(null, false, false),
                    hoverBackgroundColor: hoverColorize
                }
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };

        var scanChart = new Chart('scanChart', {
            type: 'pie',
            data: {
                datasets: [],
                labels: [
                    'Seen',
                    'Scanned'
                ]
            },
            options: pieOptions
        });

        var levelChart = new Chart('levelChart', {
            type: 'pie', //'doughnut',
            data: {
                datasets: [],
                labels: [
                    'Level 01-09',
                    'Level 10-19',
                    'Level 20-29',
                    'Level 30-35'
                ]
            },
            options: donutOptions
        });

        var ivChart = new Chart('ivChart', {
            type: 'bar',
            data: {
                datasets: []
            },
            options: barOptions
        });

        var pokemonChart = new Chart('pokemonChart', {
            type: 'bar',
            data: {
                datasets: []
            },
            options: lineOptions
        });

        var raidChart = new Chart('raidChart', {
            type: 'bar',
            data: {
                datasets: []
            },
            options: lineOptions
        });

        var questChart = new Chart('questChart', {
            type: 'bar',
            data: {
                datasets: []
            },
            options: lineOptions
        });

        var invasionChart = new Chart('invasionChart', {
            type: 'bar',
            data: {
                datasets: []
            },
            options: lineOptions
        });

        var teamChart = new Chart('teamChart', {
            type: 'pie',
            data: {
                datasets: [],
                labels: [
                    'Neutral',
                    'Mystic',
                    'Valor',
                    'Instinct'
                ]
            },
            options: teamOptions
        });

        pokemonChart.options.title.text = "Historical Pokemon Statistics";
        raidChart.options.title.text = "Historical Raid Statistics";
        questChart.options.title.text = "Historical Quest Statistics";
        invasionChart.options.title.text = "Historical Invasion Statistics";

        $("#comday-stats").hide();
        $("#filter-pokemon-comday").on('change', function() {
            var start = $("#filter-date-start").val();
            var end = $("#filter-date-end").val();
            var pokemonId = this.value;
            getCommDayStats(pokemonId, start, end);
        });

        getDashboardStats();
        getTopPokemonStats();
        getHistoricalPokemonStats();
        getHistoricalRaidStats();
        getHistoricalQuestStats();
        getHistoricalInvasionStats();
        filterPokemon();
        filterRaids();
        filterQuests();
        filterInvasions();

        function getDashboardStats() {
            var data = {
                'show_dashboard_stats': true,
                'formatted': true,
                '_csrf': "{{csrf}}"
            };
            $.ajax({
                url: "/api/get_data",
                data: data,
                type: "POST",
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse result value.");
                        return;
                    }
                    updateCounter(".total-pokemon-count", result.data.pokemon_total);
                    updateCounter(".total-iv-count", result.data.pokemon_iv_total);
                    updateCounter(".total-shiny-count", result.data.pokemon_total_shiny);
                    updateCounter(".total-hundo-count", result.data.pokemon_total_hundo);
                    updateCounter(".today-pokemon-count", result.data.pokemon_today);
                    updateCounter(".today-iv-count", result.data.pokemon_iv_today);
                    updateCounter(".today-shiny-count", result.data.pokemon_today_shiny);
                    updateCounter(".today-hundo-count", result.data.pokemon_today_hundo);
                    updateCounter(".pokemon-count", result.data.pokemon_active);
                    updateCounter(".active-iv-count", result.data.pokemon_iv_active);
                    updateCounter(".active-100iv-count", result.data.pokemon_active_100iv);
                    updateCounter(".active-90iv-count", result.data.pokemon_active_90iv);
                    updateCounter(".active-0iv-count", result.data.pokemon_active_0iv);
                    updateCounter(".active-shiny-count", result.data.pokemon_active_shiny);

                    updateCounter(".gyms-count", result.data.gyms_total);
                    updateCounter(".neutral-gyms-count", result.data.gyms_neutral);
                    updateCounter(".mystic-gyms-count", result.data.gyms_mystic);
                    updateCounter(".valor-gyms-count", result.data.gyms_valor);
                    updateCounter(".instinct-gyms-count", result.data.gyms_instinct);
                    updateCounter(".raids-count", result.data.gyms_raids);

                    updateCounter(".pokestop-count", result.data.pokestops_total);
                    updateCounter(".lured-pokestop-count", result.data.pokestops_lures_normal);
                    updateCounter(".lured-glacial-pokestop-count", result.data.pokestops_lures_glacial);
                    updateCounter(".lured-mossy-pokestop-count", result.data.pokestops_lures_mossy);
                    updateCounter(".lured-magnetic-pokestop-count", result.data.pokestops_lures_magnetic);
                    updateCounter(".lured-rainy-pokestop-count", result.data.pokestops_lures_rainy);
                    updateCounter(".invasions-count", result.data.pokestops_invasions);
                    updateCounter(".quest-pokestop-count", result.data.pokestops_quests);

                    updateCounter(".spawnpoint-count", result.data.spawnpoints_total);
                    updateCounter(".found-spawnpoint-count", result.data.spawnpoints_found);
                    updateCounter(".missing-spawnpoint-count", result.data.spawnpoints_missing);
                    updateCounter(".percentage-spawnpoint-count", (result.data.spawnpoints_found / result.data.spawnpoints_total) * 100);

                    var values = [
                        result.data.gyms_neutral,
                        result.data.gyms_mystic,
                        result.data.gyms_valor,
                        result.data.gyms_instinct
                    ];
                    var colors = [
                        "gray",
                        "blue",
                        "red",
                        "yellow"
                    ];

                    removeDataset(teamChart);
                    addDataset(teamChart, {
                        data: values,
                        backgroundColor: colors,
                        label: "Teams"
                    });
                }
            });
        }

        function getTopPokemonStats() {
            var data = {
                'show_top10_stats': true,
                'formatted': true,
                '_csrf': "{{csrf}}"
            };
            $.ajax({
                url: "/api/get_data",
                data: data,
                type: "POST",
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse result value.");
                        return;
                    }
                    if (result.data.lifetime === null || result.data.today === null
                        || result.data.top10_100iv === null || result.data.top10_30day) {
                        console.log("Failed to parse result value.");
                        return;
                    }

                    html = "";
                    count = 0;
                    $('#top-10-pokemon-lifetime').html(html);
                    $.each(result.data.lifetime, function(key, value) {
                        if (count === 0) {
                            html += "<div class='row justify-content-center'>";
                        }
                        html += "<div class='col-md-2" + (count === 0 ? " col-md-offset-1" : "") + "'>";
                        html +=   "<img src='/image-api/pokemon?style={{default_icon_style}}&id=" + value.pokemon_id + "' width='64' height='64'>";
                        html +=   "<span class='text-nowrap'><b>" + value.name + "</b></span><br>";
                        html +=   "<span class='text-nowrap'>" + value.shinyRate + value.count + "</span>";
                        html += "</div>";
                        if (count === 4) {
                            html += "</div>";
                            count = 0;
                        } else {
                            count++;
                        }
                    });
                    $('#top-10-pokemon-lifetime').html(html);

                    html = "";
                    count = 0;
                    $('#top-10-pokemon-month').html(html);
                    $.each(result.data.month, function(key, value) {
                        if (count === 0) {
                            html += "<div class='row justify-content-center'>";
                        }
                        html += "<div class='col-md-2" + (count === 0 ? " col-md-offset-1" : "") + "'>";
                        html +=   "<img src='/image-api/pokemon?style={{default_icon_style}}&id=" + value.pokemon_id + "' width='64' height='64'>";
                        html +=   "<span class='text-nowrap'><b>" + value.name + "</b></span><br>";
                        html +=   "<span class='text-nowrap'>" + value.shinyRate + value.count + "</span>";
                        html += "</div>";
                        if (count === 4) {
                            html += "</div>";
                            count = 0;
                        } else {
                            count++;
                        }
                    });
                    $('#top-10-pokemon-month').html(html);

                    html = "";
                    count = 0;
                    $('#top-10-pokemon-today').html(html);
                    $.each(result.data.today, function(key, value) {
                        if (count === 0) {
                            html += "<div class='row justify-content-center'>";
                        }
                        html += "<div class='col-md-2" + (count === 0 ? " col-md-offset-1" : "") + "'>";
                        html +=   "<img src='/image-api/pokemon?style={{default_icon_style}}&id=" + value.pokemon_id + "' width='64' height='64'>";
                        html +=   "<span class='text-nowrap'><b>" + value.name + "</b></span><br>";
                        html +=   "<span class='text-nowrap'>" + value.shinyRate + value.count + "</span>";
                        html += "</div>";
                        if (count === 4) {
                            html += "</div>";
                            count = 0;
                        } else {
                            count++;
                        }
                    });
                    $('#top-10-pokemon-today').html(html);

                    html = "";
                    count = 0;
                    $('#top-10-iv-today').html(html);
                    $.each(result.data.top10_100iv, function(key, value) {
                        if (count === 0) {
                            html += "<div class='row justify-content-center'>";
                        }
                        html += "<div class='col-md-2" + (count === 0 ? " col-md-offset-1" : "") + "'>";
                        html +=   "<img src='/image-api/pokemon?style={{default_icon_style}}&id=" + value.pokemon_id + "' width='64' height='64'>";
                        html +=   "<span class='text-nowrap'><b>" + value.name + "</b></span><br>";
                        html +=   "<span class='text-nowrap'>" + value.count + "x 100%</span>";
                        html += "</div>";
                        if (count === 4) {
                            html += "</div>";
                            count = 0;
                        } else {
                            count++;
                        }
                    });
                    $('#top-10-iv-today').html(html);
                }
            });
        }

        function getCommDayStats(pokemonId, start, end) {
            var data = {
                'show_commday_stats': true,
                'pokemon_id': pokemonId,
                'start': start,
                'end': end,
                '_csrf': "{{csrf}}"
            };
            $.ajax({
                url: "/api/get_data",
                data: data,
                type: "POST",
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse result value.");
                        return;
                    }

                    $("#comday-stats").show();
                    $("#pkmn-title").text(result.data.evo1_name + " Scans");
                    $("#total-seen").text(numberWithCommas(result.data.stats.total || 0) + " seen");
                    $("#total-scanned").text(numberWithCommas(result.data.stats.with_iv || 0) + " scanned");
                    $("#iv100").text(result.data.stats.iv_100 || 0);
                    $("#iv90").text(result.data.stats.iv_90_99 || 0);
                    $("#iv0").text(result.data.stats.iv_0 || 0);
                    $("#total-male").text(numberWithCommas(result.data.stats.male || 0) + " (" + Math.round((result.data.stats.male / result.data.stats.total) * 100, 2) + "%)");
                    $("#total-female").text(numberWithCommas(result.data.stats.female || 0) + " (" + Math.round((result.data.stats.female / result.data.stats.total) * 100, 2) + "%)");
                    $("#evo1").attr("src", "/image-api/pokemon?style={{default_icon_style}}&id="+result.data.pokemon_id);
                    $("#evo2").attr("src", "/image-api/pokemon?style={{default_icon_style}}&id="+(parseInt(result.data.pokemon_id) + 1));
                    $("#evo3").attr("src", "/image-api/pokemon?style={{default_icon_style}}&id="+(parseInt(result.data.pokemon_id) + 2));
                    $("#evo1-text").text(result.data.evo1_name);
                    $("#evo2-text").text(result.data.evo2_name);
                    $("#evo3-text").text(result.data.evo3_name);

                    removeDataset(scanChart);
                    var scanData = {
                        data: [result.data.stats.total || 0, result.data.stats.with_iv || 0],
                        backgroundColor: [
                            'green',
                            'blue'
                        ],
                        label: 'Seen'
                    };
                    addDataset(scanChart, scanData);

                    removeDataset(levelChart);
                    var levelData = {
                        data: [
                            result.data.stats.level_1_9 || 0,
                            result.data.stats.level_10_19 || 0,
                            result.data.stats.level_20_29 || 0,
                            result.data.stats.level_30_35 || 0
                        ],
                        backgroundColor: [
                            'red',
                            'yellow',
                            'green',
                            'blue'
                        ],
                        label: 'Levels'
                    };
                    addDataset(levelChart, levelData);

                    removeDataset(ivChart);

                    addDataset(ivChart, { data: [result.data.stats.iv_0], backgroundColor: 'black', label: '0% IV' });
                    addDataset(ivChart, { data: [result.data.stats.iv_1_9], backgroundColor: 'brown', label: '1-9% IV' });
                    addDataset(ivChart, { data: [result.data.stats.iv_10_19], backgroundColor: 'pink', label: '10-19% IV' });
                    addDataset(ivChart, { data: [result.data.stats.iv_20_29], backgroundColor: 'gray', label: '20-29% IV' });
                    addDataset(ivChart, { data: [result.data.stats.iv_30_39], backgroundColor: 'purple', label: '30-39% IV' });
                    addDataset(ivChart, { data: [result.data.stats.iv_40_49], backgroundColor: 'blue', label: '40-49% IV' });
                    addDataset(ivChart, { data: [result.data.stats.iv_50_59], backgroundColor: 'red', label: '50-59% IV' });
                    addDataset(ivChart, { data: [result.data.stats.iv_60_69], backgroundColor: 'orange', label: '60-69% IV' });
                    addDataset(ivChart, { data: [result.data.stats.iv_70_79], backgroundColor: 'lime', label: '70-79% IV' });
                    addDataset(ivChart, { data: [result.data.stats.iv_80_89], backgroundColor: 'yellow', label: '80-89% IV' });
                    addDataset(ivChart, { data: [result.data.stats.iv_90_99], backgroundColor: 'magenta', label: '90-99% IV' });
                    addDataset(ivChart, { data: [result.data.stats.iv_100], backgroundColor: 'green', label: '100% IV' });
                }});
        }

        function getHistoricalPokemonStats() {
            var data = {
                'show_pokemon_stats': true,
                'date': "lifetime",
                '_csrf': "{{csrf}}"
            };
            $.ajax({
                url: "/api/get_data",
                data: data,
                type: "POST",
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse pokemon stats.");
                        return;
                    }
                    if (result.data.stats === null) {
                        console.log("Failed to parse pokemon stats.");
                        return;
                    }
                    var labels = [];
                    var values = [];
                    $.each(result.data.stats, function(key, value) {
                        labels.push(value.date);
                        var value = parseInt(strip(value.count));
                        values.push(value);
                    });
                    removeDataset(pokemonChart);
                    var obj = {
                        labels: labels,
                        datasets: [{
                            data: values,
                            backgroundColor: "dodgerblue",
                            label: "Pokemon",
                            fill: true
                        }]
                    };
                    pokemonChart.data = obj;
                    pokemonChart.update();
                }
            });
        }

        function getHistoricalRaidStats() {
            var data = {
                'show_raid_stats': true,
                'date': "lifetime",
                '_csrf': "{{csrf}}"
            };
            $.ajax({
                url: "/api/get_data",
                data: data,
                type: "POST",
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse raid stats.");
                        return;
                    }
                    if (result.data.stats === null) {
                        console.log("Failed to parse raid stats.");
                        return;
                    }
                    var labels = [];
                    var values = [];
                    $.each(result.data.stats, function(key, value) {
                        labels.push(value.date);
                        var value = parseInt(strip(value.count));
                        values.push(value);
                    });
                    removeDataset(raidChart);
                    var obj = {
                        labels: labels,
                        datasets: [{
                            data: values,
                            backgroundColor: "orange",
                            label: "Raids",
                            fill: true
                        }]
                    };
                    raidChart.data = obj;
                    raidChart.update();
                }
            });
        }

        function getHistoricalQuestStats() {
            var data = {
                'show_quest_stats': true,
                'date': "lifetime",
                '_csrf': "{{csrf}}"
            };
            $.ajax({
                url: "/api/get_data",
                data: data,
                type: "POST",
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse quest stats.");
                        return;
                    }
                    if (result.data.stats === null) {
                        console.log("Failed to parse quest stats.");
                        return;
                    }
                    var labels = [];
                    var values = [];
                    $.each(result.data.stats, function(key, value) {
                        labels.push(value.date);
                        var value = parseInt(strip(value.count));
                        values.push(value);
                    });
                    removeDataset(questChart);
                    var obj = {
                        labels: labels,
                        datasets: [{
                            data: values,
                            backgroundColor: "limegreen",
                            label: "Quests",
                            fill: true
                        }]
                    };
                    questChart.data = obj;
                    questChart.update();
                }
            });
        }

        function getHistoricalInvasionStats() {
            var data = {
                'show_invasion_stats': true,
                'date': "lifetime",
                '_csrf': "{{csrf}}"
            };
            $.ajax({
                url: "/api/get_data",
                data: data,
                type: "POST",
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse invasion stats.");
                        return;
                    }
                    if (result.data.stats === null) {
                        console.log("Failed to parse invasion stats.");
                        return;
                    }
                    var labels = [];
                    var values = [];
                    $.each(result.data.stats, function(key, value) {
                        labels.push(value.date);
                        var value = parseInt(strip(value.count));
                        values.push(value);
                    });
                    removeDataset(invasionChart);
                    var obj = {
                        labels: labels,
                        datasets: [{
                            data: values,
                            backgroundColor: "red",
                            label: "Invasions",
                            fill: true
                        }]
                    };
                    invasionChart.data = obj;
                    invasionChart.update();
                }
            });
        }

        function filterPokemon() {
            var date = $("#filter-pokemon-date").val();
            var data = {
                'show_pokemon_stats': true,
                'date': date,
                '_csrf': "{{csrf}}"
            };
            $.ajax({
                url: "/api/get_data",
                data: data,
                type: "POST",
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse pokemon stats.");
                        return;
                    }
                    var html = "";
                    $("#pokemon-stats-table").html(html);
                    result.data.stats.forEach(function(stat) {
                        html += "<div class='col-sm-2 col-sd-offset-1 text-center'>";
                        html +=   "<img src='/image-api/pokemon?style={{default_icon_style}}&id=" + stat.pokemon_id + "' width='48' height='48'>";
                        html +=   "<div class='card-body'>";
                        html +=     "<span class='text-nowrap'><b>" + stat.name + "</b> #" + stat.pokemon_id + "</span>";
                        html +=     "<p class='card-text text-nowrap'>";
                        html +=       "Seen: <span>" + stat.count + "</span><br>";
                        if (stat.shiny > 0) {
                            html +=   "Shiny: <span>" + stat.shiny + "</span>";
                        }
                        html +=     "</p>";
                        html +=   "</div>";
                        html += "</div>";
                    });
                    $("#pokemon-stats-table").html(html);
                }
            });
        }

        function filterRaids() {
            var date = $("#filter-raids-date").val();
            var data = {
                'show_raid_stats': true,
                'date': date,
                '_csrf': "{{csrf}}"
            };
            $.ajax({
                url: "/api/get_data",
                data: data,
                type: "POST",
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse raid stats.");
                        return;
                    }
                    var html = "";
                    if (result.data.raid_stats != null) {
                        $("#raid-stats-table").html(html);
                        result.data.raid_stats.forEach(function(stat) {
                            html += "<div class='col-sm-2 col-sd-offset-1 text-center'>";
                            html +=   "<img src='/image-api/pokemon?style={{default_icon_style}}&id=" + stat.pokemon_id + "' width='48' height='48'>";
                            html +=   "<div class='card-body'>";
                            html +=     "<span class='text-nowrap'><b>" + stat.name + "</b> #" + stat.pokemon_id + "</span>";
                            html +=     "<p class='card-text text-nowrap'>";
                            html +=       "Total: <span>" + stat.count + "</span><br>";
                            html +=       "Level: <span>" + stat.level + "</span>";
                            html +=     "</p>";
                            html +=   "</div>";
                            html += "</div>";
                        });
                        $("#raid-stats-table").html(html);
                    }
                    if (result.data.egg_stats != null) {
                        html = "";
                        $("#egg-stats-table").html(html);
                        result.data.egg_stats.forEach(function(stat) {
                            html += "<div class='col-sm-2 col-sd-offset-1 text-center'>";
                            html +=   "<img src='/image-api/raid-egg?style={{default_icon_style}}&id=" + stat.level + "' width='48' height='48'>";
                            html +=   "<div class='card-body'>";
                            html +=     "<span class='text-nowrap'><b>Level " + stat.level + "</b></span>";
                            html +=     "<p class='card-text text-nowrap'>";
                            html +=       "Total: <span>" + stat.count + "</span>";
                            html +=     "</p>";
                            html +=   "</div>";
                            html += "</div>";
                        });
                        $("#egg-stats-table").html(html);
                    }
                }});
        }

        function filterQuests() {
            var date = $("#filter-quests-date").val();
            var data = {
                'show_quest_stats': true,
                'date': date,
                '_csrf': "{{csrf}}"
            };
            $.ajax({
                url: "/api/get_data",
                data: data,
                type: "POST",
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse quest stats.");
                        return;
                    }

                    var html = "";
                    if (result.data.quest_item_stats != null) {
                        $("#quest-item-stats-table").html(html);
                        result.data.quest_item_stats.forEach(function(stat) {
                            html += "<div class='col-sm-2 col-sd-offset-1 text-center'>";
                            html +=   "<img src='/image-api/reward?style={{default_icon_style}}&id=" + stat.item_id + "&type=" + stat.reward_type + "' width='48' height='48'>";
                            html +=   "<div class='card-body'>";
                            html +=     "<span class='text-nowrap'><b>" + stat.name + "</b></span>";
                            html +=     "<p class='card-text text-nowrap'>";
                            html +=       "Total: <span>" + stat.count + "</span>";
                            html +=     "</p>";
                            html +=   "</div>";
                            html += "</div>";
                        });
                        $("#quest-item-stats-table").html(html);
                    }
                    if (result.data.quest_pokemon_stats != null) {
                        html = "";
                        $("#quest-pokemon-stats-table").html(html);
                        result.data.quest_pokemon_stats.forEach(function(stat) {
                            if (stat.pokemon_id > 0) {
                                html += "<div class='col-sm-2 col-sd-offset-1 text-center'>";
                                html +=   "<img src='/image-api/pokemon?style={{default_icon_style}}&id=" + stat.pokemon_id + "' width='48' height='48'>";
                                html +=   "<div class='card-body'>";
                                html +=     "<span class='text-nowrap'><b>" + stat.name + "</b> #" + stat.pokemon_id + "</span>";
                                html +=     "<p class='card-text text-nowrap'>";
                                html +=       "Total: <span>" + stat.count + "</span>";
                                html +=     "</p>";
                                html +=   "</div>";
                                html += "</div>";
                            }
                        });
                        $("#quest-pokemon-stats-table").html(html);
                    }
                }
            });
        }

        function filterInvasions() {
            var date = $("#filter-invasions-date").val();
            var data = {
                'show_invasion_stats': true,
                'date': date,
                '_csrf': "{{csrf}}"
            };
            $.ajax({
                url: "/api/get_data",
                data: data,
                type: "POST",
                success: function(result) {
                    if (result === null) {
                        console.log("Failed to parse invasion stats.");
                        return;
                    }
                    var html = "";
                    $("#invasion-stats-table").html(html);
                    result.data.stats.forEach(function(stat) {
                        html += "<div class='col-sm-2 col-sd-offset-1 text-center'>";
                        html +=   "<img src='/image-api/invasion?style={{default_icon_style}}&id=" + stat.grunt_type + "' width='48' height='48'>";
                        html +=   "<div class='card-body'>";
                        html +=     "<span class='text-nowrap'><b>" + stat.name + "</b></span>";
                        html +=     "<p class='card-text text-nowrap'>";
                        html +=       "Total: <span>" + stat.count + "</span><br>";
                        html +=     "</p>";
                        html +=   "</div>";
                        html += "</div>";
                    });
                    $("#invasion-stats-table").html(html);
                }
            });
        }

    });
</script>

<h2 class="page-header text-center">{{title}}'s {{title_stats}}</h2>
<ul class="nav nav-pills mb-3 justify-content-center" role="tablist">
    <li class="nav-item"><a class="nav-link active" id="overview-tab" role="tab" aria-controls="overview" aria-selected="true" data-toggle="pill" href="#overview">{{stats_tab_overview}}</a></li>
    <li class="nav-item"><a class="nav-link" id="pokemon-tab" role="tab" aria-controls="pokemon" aria-selected="false" data-toggle="pill" href="#pokemon">{{stats_tab_pokemon}}</a></li>
    <li class="nav-item"><a class="nav-link" id="raids-tab" role="tab" aria-controls="raids" aria-selected="false" data-toggle="pill" href="#raids">{{stats_tab_raids}}</a></li>
    <li class="nav-item"><a class="nav-link" id="quests-tab" role="tab" aria-controls="quests" aria-selected="false" data-toggle="pill" href="#quests">{{stats_tab_quests}}</a></li>
    <li class="nav-item"><a class="nav-link" id="invasions-tab" role="tab" aria-controls="invasions" aria-selected="false" data-toggle="pill" href="#invasions">{{stats_tab_invasions}}</a></li>
    <li class="nav-item"><a class="nav-link" id="commday-tab" role="tab" aria-controls="commday" aria-selected="false" data-toggle="pill" href="#commday">{{stats_tab_commday}}</a></li>
</ul>

<div class="tab-content container">
    <!-- Start Overview Tab -->
    <div id="overview" class="tab-pane fade show active" role="tabpanel" aria-labelledby="overview-tab">

        <h3 class="page-header text-center">{{stats_overview}}</h3>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_overview}}</b></div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h3 class="pull-right"><img src="/image-api/reward?style={{default_icon_style}}&id=1&type=2" width="64" height="64"/></h3>
                                    <h4 class="list-group-item-heading pokemon-count">0</h4>
                                    <p class="list-group-item-text">{{stats_active_pokemon}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h3 class="pull-right"><img src="/image-api/team?style={{default_icon_style}}&id=0" width="64" height="64"/></h3>
                                    <h4 class="list-group-item-heading gyms-count">0</h4>
                                    <p class="list-group-item-text">{{stats_total_gyms}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h3 class="pull-right"><img src="/image-api/reward?style={{default_icon_style}}&id=1402&type=2" width="64" height="64"/></h3>
                                    <h4 class="list-group-item-heading raids-count">0</h4>
                                    <p class="list-group-item-text">{{stats_active_raids}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h3 class="pull-right"><img src="/image-api/pokestop?style={{default_icon_style}}&id=0" width="64" height="64"/></h3>
                                    <h4 class="list-group-item-heading pokestop-count">0</h4>
                                    <p class="list-group-item-text">{{stats_total_pokestops}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_pokemon}}</b></div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h3 class="pull-right"><img src="/image-api/reward?style={{default_icon_style}}&id=1&type=2" width="64" height="64"/></h3>
                                    <h4 class="list-group-item-heading total-pokemon-count">0</h4>
                                    <p class="list-group-item-text">{{stats_total_pokemon}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h3 class="pull-right"><img src="/image-api/reward?style={{default_icon_style}}&id=1&type=2" width="64" height="64"/></h3>
                                    <h4 class="list-group-item-heading total-iv-count">0</h4>
                                    <p class="list-group-item-text">{{stats_total_ivs}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h3 class="pull-right"><img src="/image-api/reward?style={{default_icon_style}}&id=3&type=2" width="64" height="64"/></h3>
                                    <h4 class="list-group-item-heading total-hundo-count">0</h4>
                                    <p class="list-group-item-text">{{stats_total_hundo}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <h3 class="pull-right"><img src="/image-api/misc?style={{default_icon_style}}&id=sparkles" width="64" height="64"/></h3>
                                    <h4 class="list-group-item-heading total-shiny-count">0</h4>
                                    <p class="list-group-item-text">{{stats_total_shiny}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body text-center p-1 m-3">
                <div class="card-header bg-dark text-light"><b>{{stats_today_statistics}}</b></div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{stats_total_pokemon}}
                        <span class="badge badge-primary badge-pill today-pokemon-count">0</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{stats_total_ivs}}
                        <span class="badge badge-primary badge-pill today-iv-count">0</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{stats_total_hundo}}
                        <span class="badge badge-primary badge-pill today-hundo-count">0</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{stats_total_shiny}}
                        <span class="badge badge-primary badge-pill today-shiny-count">0</span>
                    </li>
                </ul>
            </div>

            <div class="card-body text-center p-1 m-3">
                <div class="card-header bg-dark text-light"><b>{{stats_active_iv_statistics}}</b></div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{stats_active_ivs}}
                        <span class="badge badge-primary badge-pill active-iv-count">0</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{stats_active_100iv}}
                        <span class="badge badge-primary badge-pill active-100iv-count">0</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{stats_active_90iv}}
                        <span class="badge badge-primary badge-pill active-90iv-count">0</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{stats_active_0iv}}
                        <span class="badge badge-primary badge-pill active-0iv-count">0</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{stats_active_shiny}}
                        <span class="badge badge-primary badge-pill active-shiny-count">0</span>
                    </li>
                </ul>
            </div>

            <!-- Start Top 10 -->
            <div class="card-body text-center p-1 m-3">
                <div class="card-header bg-dark text-light"><b>{{stats_top10_pokemon}}</b></div>
                <ul class="nav nav-tabs justify-content-center" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="top10-lifetime-tab" data-toggle="tab" href="#top10-lifetime" role="tab" aria-controls="top10-lifetime" aria-selected="true">Lifetime</a></li>
                    <li class="nav-item"><a class="nav-link" id="top10-month-tab" data-toggle="tab" href="#top10-month" role="tab" aria-controls="top10-month" aria-selected="false">30 days</a></li>
                    <li class="nav-item"><a class="nav-link" id="top10-today-tab" data-toggle="tab" href="#top10-today" role="tab" aria-controls="top10-today" aria-selected="false">Today</a></li>
                    <li class="nav-item"><a class="nav-link" id="top10-iv-today-tab" data-toggle="tab" href="#top10-iv-today" role="tab" aria-controls="top10-iv-today" aria-selected="false">IV Today</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="top10-lifetime" role="tabpanel" aria-labelledby="top10-lifetime-tab">
                        <div class="card-body">
                            <div class="container">
                                <div id="top-10-pokemon-lifetime" class="row justify-content-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="top10-month" role="tabpanel" aria-labelledby="top10-month-tab">
                        <div class="card-body">
                            <div class="container">
                                <div id="top-10-pokemon-month" class="row justify-content-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="top10-today" role="tabpanel" aria-labelledby="top10-today-tab">
                        <div class="card-body">
                            <div class="container">
                                <div id="top-10-pokemon-today" class="row justify-content-center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="top10-iv-today" role="tabpanel" aria-labelledby="top10-iv-today-tab">
                        <div class="card-body">
                            <div class="container">
                                <div id="top-10-iv-today" class="row justify-content-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top 10 -->

        </div>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_gyms}}</b></div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" style="margin-top:auto; margin-bottom:auto;">
                            <canvas id="teamChart"></canvas>
                            <br>
                        </div>
                        <div class="col-md-8 p-1">
                            <div class="row">
                                <div class="col-md-6 p-1 ">
                                    <div class="list-group">
                                        <a class="list-group-item neutral">
                                            <h3 class="pull-right"><img src="/image-api/team?style={{default_icon_style}}&id=0" width="64" height="64"/></h3>
                                            <h4 class="list-group-item-heading neutral-gyms-count">0</h4>
                                            <p class="list-group-item-text">{{stats_neutral_gyms}}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 p-1">
                                    <div class="list-group">
                                        <a class="list-group-item valor">
                                            <h3 class="pull-right"><img src="/image-api/team?style={{default_icon_style}}&id=2" width="64" height="64"/></h3>
                                            <h4 class="list-group-item-heading valor-gyms-count">0</h4>
                                            <p class="list-group-item-text">{{stats_valor_gyms}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 p-1">
                                    <div class="list-group">
                                        <a class="list-group-item mystic">
                                            <h3 class="pull-right"><img src="/image-api/team?style={{default_icon_style}}&id=1" width="64" height="64"/></h3>
                                            <h4 class="list-group-item-heading mystic-gyms-count">0</h4>
                                            <p class="list-group-item-text">{{stats_mystic_gyms}}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 p-1">
                                    <div class="list-group">
                                        <a class="list-group-item instinct">
                                            <h3 class="pull-right"><img src="/image-api/team?style={{default_icon_style}}&id=3" width="64" height="64"/></h3>
                                            <h4 class="list-group-item-heading instinct-gyms-count">0</h4>
                                            <p class="list-group-item-text">{{stats_instinct_gyms}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-center container">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header bg-dark text-light"><b>{{stats_new_gyms}}</b></div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        {{#new_gyms}}
                                            <li class="list-group-item">
                                                <a href="/@gym/{{id}}" target="_blank">{{name}}</a>
                                            </li>
                                        {{/new_gyms}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_pokestops}}</b></div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 p-1">
                            <a class="list-group-item">
                                <h3 class="pull-right"><img src="/image-api/reward?style={{default_icon_style}}&id=0" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading quest-pokestop-count">0</h4>
                                <p class="list-group-item-text">{{stats_field_research}}</p>
                            </a>
                        </div>
                        <div class="col-md-4 p-1">
                            <a class="list-group-item">
                                <h3 class="pull-right"><img src="/image-api/pokestop?style={{default_icon_style}}&id=0&invasion=true" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading invasions-count">0</h4>
                                <p class="list-group-item-text">{{stats_invasions}}</p>
                            </a>
                        </div>
                        <div class="col-md-4 p-1">
                            <a class="list-group-item">
                                <h3 class="pull-right"><img src="/image-api/pokestop?style={{default_icon_style}}&id=501" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading lured-pokestop-count">0</h4>
                                <p class="list-group-item-text">{{stats_normal_lures}}</p>
                            </a>
                        </div>
                        <div class="col-md-4 p-1">
                            <a class="list-group-item">
                                <h3 class="pull-right"><img src="/image-api/pokestop?style={{default_icon_style}}&id=502" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading lured-glacial-pokestop-count">0</h4>
                                <p class="list-group-item-text">{{stats_glacial_lures}}</p>
                            </a>
                        </div>
                        <div class="col-md-4 p-1">
                            <a class="list-group-item">
                                <h3 class="pull-right"><img src="/image-api/pokestop?style={{default_icon_style}}&id=503" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading lured-mossy-pokestop-count">0</h4>
                                <p class="list-group-item-text">{{stats_mossy_lures}}</p>
                            </a>
                        </div>
                        <div class="col-md-4 p-1">
                            <a class="list-group-item">
                                <h3 class="pull-right"><img src="/image-api/pokestop?style={{default_icon_style}}&id=504" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading lured-magnetic-pokestop-count">0</h4>
                                <p class="list-group-item-text">{{stats_magnetic_lures}}</p>
                            </a>
                        </div>
                        <div class="col-md-4 p-1">
                            <a class="list-group-item">
                                <h3 class="pull-right"><img src="/image-api/pokestop?style={{default_icon_style}}&id=505" width="64" height="64"/></h3>
                                <h4 class="list-group-item-heading lured-rainy-pokestop-count">0</h4>
                                <p class="list-group-item-text">{{stats_rainy_lures}}</p>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-center container">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header bg-dark text-light"><b>{{stats_new_pokestops}}</b></div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        {{#new_pokestops}}
                                            <li class="list-group-item">
                                                <a href="/@pokestop/{{id}}" target="_blank">{{name}}</a>
                                            </li>
                                        {{/new_pokestops}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_spawnpoint_timers}}</b></div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 p-1">
                            <a class="list-group-item">
                                <h3 class="pull-right"><i class="fa fa-map-marker fa-2x" style="color:red"></i></h3>
                                <h4 class="list-group-item-heading spawnpoint-count">0</h4>
                                <p class="list-group-item-text">{{stats_spawnpoint_total}}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 p-1">
                            <a class="list-group-item">
                                <h3 class="pull-right"><i class="fa fa-check fa-2x" style="color:green"></i></h3>
                                <h4 class="list-group-item-heading found-spawnpoint-count">0</h4>
                                <p class="list-group-item-text">{{stats_spawnpoint_found}}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 p-1">
                            <a class="list-group-item">
                                <h3 class="pull-right"><i class="fa fa-question fa-2x" style="color:red"></i></h3>
                                <h4 class="list-group-item-heading missing-spawnpoint-count">0</h4>
                                <p class="list-group-item-text">{{stats_spawnpoint_missing}}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 p-1">
                            <a class="list-group-item">
                                <h3 class="pull-right"><i class="fa fa-percent fa-2x"></i></h3>
                                <h4 class="list-group-item-heading percentage-spawnpoint-count">0%</h4>
                                <p class="list-group-item-text">{{stats_spawnpoint_percentage}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Overview Tab -->

    <!-- Start Pokemon Tab -->
    <div id="pokemon" class="tab-pane fade" role="tabpanel" aria-labelledby="pokemon-tab">
        <h3 class="page-header text-center">{{stats_pokemon}}</h3>
        <div class="text-center">
            <canvas id="pokemonChart"></canvas>
        </div>
        <br>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_filters}}</b></div>
            <div class="card-body">
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-pokemon-date">{{stats_date}}</label>
                        </div>
                        <input id="filter-pokemon-date" class="flatpickr" placeholder="Select Date.." data-toggle="datetimepicker">
                    </div>
                    <!--
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="search-input">Search Pokemon</label>
                      </div>
                      <input type="text" id="filter-pokemon" class="form-control input-lg" onkeyup="filterPokemon()" placeholder="Search by name.." title="Type in a name">
                    </div>
                    -->
                </div>
            </div>
        </div>

        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_pokemon}}</b></div>
            <div class="card-body">
                <div id="pokemon-stats-table" class="row justify-content-center">
                    {{#pokemon}}
                        <div class="col-sm-2 col-sd-offset-1 text-center">
                            <img src="/image-api/pokemon?style={{default_icon_style}}&id={{pokemon_id}}"" width="48" height="48">
                            <div class="card-body">
                                <span class="text-nowrap"><b>{{name}}</b> #{{pokemon_id}}</span>
                                <p class="card-text text-nowrap">
                                    Seen:
                                    <span>{{count}}</span><br>
                                    Shiny:
                                    <span>{{shiny}}</span>
                                </p>
                            </div>
                        </div>
                    {{/pokemon}}
                </div>
            </div>
        </div>
    </div>
    <!-- End Pokemon Tab -->

    <!-- Start Raids Tab -->
    <div id="raids" class="tab-pane fade" role="tabpanel" aria-labelledby="raids-tab">
        <h3 class="page-header text-center">{{stats_raids}}</h3>
        <div class="text-center">
            <canvas id="raidChart"></canvas>
        </div>
        <br>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_filters}}</b></div>
            <div class="card-body">
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-raids-date">{{stats_date}}</label>
                        </div>
                        <input id="filter-raids-date" class="flatpickr" placeholder="Select Date.." data-toggle="datetimepicker">
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_eggs}}</b></div>
            <div class="card-body">
                <div id="egg-stats-table" class="row justify-content-center">
                    {{#eggs}}
                        <div class="col-sm-2 col-sd-offset-1 text-center">
                            <img src="/image-api/raid-egg?style={{default_icon_style}}&id={{level}}"" width="48" height="48">
                            <div class="card-body">
                                <span class="text-nowrap"><b>Level {{level}}</b></span>
                                <p class="card-text text-nowrap">
                                    Total:
                                    <span>{{count}}</span>
                                </p>
                            </div>
                        </div>
                    {{/eggs}}
                </div>
            </div>
        </div>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_raids}}</b></div>
            <div class="card-body">
                <div id="raid-stats-table" class="row justify-content-center">
                    {{#raids}}
                        <div class="col-sm-2 col-sd-offset-1 text-center">
                            <img src="/image-api/pokemon?style={{default_icon_style}}&id={{pokemon_id}}"" width="48" height="48">
                            <div class="card-body">
                                <span class="text-nowrap"><b>{{name}}</b> #{{pokemon_id}}</span>
                                <p class="card-text text-nowrap">
                                    Total:
                                    <span>{{count}}</span>
                                </p>
                            </div>
                        </div>
                    {{/raids}}
                </div>
            </div>
        </div>
    </div>
    <!-- End Raids Tab -->

    <!-- Start Quests Tab -->
    <div id="quests" class="tab-pane fade" role="tabpanel" aria-labelledby="quests-tab">
        <h3 class="page-header text-center">{{stats_quests}}</h3>
        <div class="text-center">
            <canvas id="questChart"></canvas>
        </div>
        <br>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_filters}}</b></div>
            <div class="card-body">
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-quests-date">{{stats_date}}</label>
                        </div>
                        <input id="filter-quests-date" class="flatpickr" placeholder="Select Date.." data-toggle="datetimepicker">
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_quests_item_rewards}}</b></div>
            <div class="card-body">
                <div id="quest-item-stats-table" class="row justify-content-center">
                    {{#quests_items}}
                        <div id="item-{{item_id}}" class="col-sm-2 col-sd-offset-1 text-center">
                            <img src="/image-api/reward?style={{default_icon_style}}&id={{item_id}}&type={{reward_type}}" width="48" height="48">
                            <div class="card-body">
                                <span class="text-nowrap"><b>{{name}}</b></span>
                                <p class="card-text text-nowrap">
                                    Total:
                                    <span id="reward-type-{{item_id}}">{{count}}</span>
                                </p>
                            </div>
                        </div>
                    {{/quests_items}}
                </div>
            </div>
        </div>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_quests_pokemon_rewards}}</b></div>
            <div class="card-body">
                <div id="quest-pokemon-stats-table" class="row justify-content-center">
                    {{#quests_pokemon}}
                        <div id="pkmn-{{pokemon_id}}" class="col-sm-2 col-sd-offset-1 text-center">
                            <img src="/image-api/pokemon?style={{default_icon_style}}&id={{pokemon_id}}" width="48" height="48">
                            <div class="card-body">
                                <span class="text-nowrap"><b>{{name}}</b> #{{pokemon_id}}</span>
                                <p class="card-text text-nowrap">
                                    Total:
                                    <span id="reward-pkmn-{{pokemon_id}}">{{count}}</span>
                                </p>
                            </div>
                        </div>
                    {{/quests_pokemon}}
                </div>
            </div>
        </div>
    </div>
    <!-- End Quests Tab -->

    <!-- Start Invasions Tab -->
    <div id="invasions" class="tab-pane fade" role="tabpanel" aria-labelledby="invasions-tab">
        <h3 class="page-header text-center">{{stats_invasions}}</h3>
        <div class="text-center">
            <canvas id="invasionChart"></canvas>
        </div>
        <br>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_filters}}</b></div>
            <div class="card-body">
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-invasions-date">{{stats_date}}</label>
                        </div>
                        <input id="filter-invasions-date" class="flatpickr" placeholder="Select Date.." data-toggle="datetimepicker">
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_grunt_types}}</b></div>
            <div class="card-body">
                <div id="invasion-stats-table" class="row justify-content-center">
                    {{#invasions}}
                        <div id="invasion-{{grunt_type}}" class="col-sm-2 col-sd-offset-1 text-center">
                            <img src="/image-api/invasion?style={{default_icon_style}}&id={{grunt_type}}" width="48" height="48">
                            <div class="card-body">
                                <span class="text-nowrap"><b>{{name}}</b></span>
                                <p class="card-text text-nowrap">
                                    Total:
                                    <span id="invasion-type-{{grunt_type}}">{{count}}</span>
                                </p>
                            </div>
                        </div>
                    {{/invasions}}
                </div>
            </div>
        </div>
    </div>
    <!-- End Invasions Tab -->

    <!-- Start Community Day Tab -->
    <div id="commday" class="tab-pane fade" role="tabpanel" aria-labelledby="commday-tab">
        <h3 class="page-header text-center">{{stats_community_day}}</h3>
        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_filters}}</b></div>
            <div class="card-body">
                <div class="row">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-date">{{stats_filter_start_date}}</label>
                        </div>
                        <input id="filter-date-start" class="flatpickr" placeholder="Select Date & Time.." data-toggle="datetimepicker">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-date">{{stats_filter_end_date}}</label>
                        </div>
                        <input id="filter-date-end" class="flatpickr" placeholder="Select Date & Time.." data-toggle="datetimepicker">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filter-pokemon-comday">{{stats_pokemon}}</label>
                        </div>
                        <select id="filter-pokemon-comday" class="custom-select">
                            <option disabled selected>{{stats_filter_select}}</option>
                            {{#pokemon_ids}}
                                <option value="{{id}}">{{name}}</option>
                            {{/pokemon_ids}}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-center p-1 m-3">
            <div class="card-header bg-dark text-light"><b>{{stats_statistics}}</b></div>
            <div class="card-body">
                <div id="comday-stats" class="container">
                    <div class="row m-2">
                        <div class="col-md-5">
                            <div class="row p-2">
                                <div class="col" style="background: white">
                                    <h4 id="pkmn-title">{{stats_scans}}</h4>
                                    <div class="row p-2">
                                        <div class="col-lg-6">
                                            <div class="wrapper"><canvas id="scanChart"></canvas></div>
                                        </div>
                                        <div class="col-lg-6 justify-content-right">
                                            <h5 id="total-seen">0 {{stats_seen}}</h5>
                                            <h6 id="total-scanned">0 {{stats_scanned}}</h6>
                                        </div>
                                    </div>
                                    <div class="row p-2">
                                        <div class="col" style="background: white">
                                            <span><b>{{stats_100iv}}</b><span id="iv100">0</span></span>
                                            <span><b>{{stats_90iv}}</b><span id="iv90">0</span></span>
                                            <span><b>{{stats_0iv}}</b><span id="iv0">0</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col" style="background: white">
                                    <div class="wrapper"><canvas id="levelChart"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 p-2" style="background: white">
                            <div class="wrapper"><canvas id="ivChart"></canvas></div>
                        </div>
                    </div>
                    <div class="row p-2 m-2">
                        <div class="col-md-4" style="background: white">
                            <h3>{{stats_sex}}</h3>
                            <span><span id="total-male">0</span> {{stats_male_spawns}}</span><br>
                            <span><span id="total-female">0</span> {{stats_female_spawns}}</span>
                        </div>
                        <div class="col-md-8" style="background: white">
                            <div class="row text-center">
                                <div class="col-4">
                                    <img id="evo1" src="#" height=72 width=72/><br>
                                    <b id="evo1-text"></b>
                                </div>
                                <div class="col-4">
                                    <img id="evo2" src="#" height=72 width=72/><br>
                                    <b id="evo2-text"></b>
                                </div>
                                <div class="col-4 justify-content-end">
                                    <img id="evo3" src="#" height=72 width=72/><br>
                                    <b id="evo3-text"></b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Community Day Tab -->
</div>

{{> footer}}
