{{> header}}
<body>
    <br>
    <h1 align="center">{{unauthorized_title}}</h1>
    {{#discord_info}}<br><h3 align="center">{{{discord_info}}}</h3>{{/discord_info}}
    {{#verifymail_info}}<br><h3 align="center">{{{verifymail_info}}}</h3>{{/verifymail_info}}
</body>
