server {

        listen 80;

        server_name     example.com;

        location / {
                proxy_pass              http://127.0.0.1:9000/;
                proxy_set_header        Host $host;
                proxy_set_header        X-Real-IP $remote_addr;
                proxy_request_buffering off;
                proxy_buffering         off;
                proxy_set_header        Connection keep-alive;
        }
}
