name: Swift

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    # Manually install Swift 5.4 on Ubuntu 22.04
    - name: Install Swift 5.4
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          clang libicu-dev libcurl4-openssl-dev libssl-dev \
          libxml2-dev libz3-dev libsqlite3-dev uuid-dev

        # Download Swift 5.4 toolchain for Ubuntu 20.04 (works fine on 22.04)
        wget https://download.swift.org/swift-5.4-release/ubuntu2004/swift-5.4-RELEASE/swift-5.4-RELEASE-ubuntu20.04.tar.gz
        tar xzf swift-5.4-RELEASE-ubuntu20.04.tar.gz
        sudo mv swift-5.4-RELEASE-ubuntu20.04 /usr/share/swift
        sudo ln -s /usr/share/swift/usr/bin/swift /usr/bin/swift

        swift --version
    - name: Install Additional Requirements
      run: |
        sudo apt-get install -y libmysqlclient-dev imagemagick
        sudo sed -i -e 's/-fabi-version=2 -fno-omit-frame-pointer//g' /usr/lib/x86_64-linux-gnu/pkgconfig/mysqlclient.pc
        sudo cp /usr/bin/convert /usr/local/bin
    - name: Resolve
      run: swift package resolve
    - name: Build
      run: swift build --enable-test-discovery -Xswiftc -g -c debug
    - name: Test
      run: swift test --enable-test-discovery -Xswiftc -g -c debug
  deploy:
    if: github.event_name == 'push'
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Set .gitsha
      run: "echo ${{github.sha}} > .gitsha"
    - name: Set .gitref
      run: "echo ${{github.ref}} > .gitref"
    - name: Install Swift 5.4
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          clang libicu-dev libcurl4-openssl-dev libssl-dev \
          libxml2-dev libz3-dev libsqlite3-dev uuid-dev

        # Download Swift 5.4 toolchain for Ubuntu 20.04 (works fine on 22.04)
        wget https://download.swift.org/swift-5.4-release/ubuntu2004/swift-5.4-RELEASE/swift-5.4-RELEASE-ubuntu20.04.tar.gz
        tar xzf swift-5.4-RELEASE-ubuntu20.04.tar.gz
        sudo mv swift-5.4-RELEASE-ubuntu20.04 /usr/share/swift
        sudo ln -s /usr/share/swift/usr/bin/swift /usr/bin/swift

        swift --version
    - name: Install Additional Requirements
      run: |
        sudo apt-get install -y libmysqlclient-dev imagemagick
        sudo sed -i -e 's/-fabi-version=2 -fno-omit-frame-pointer//g' /usr/lib/x86_64-linux-gnu/pkgconfig/mysqlclient.pc
        sudo cp /usr/bin/convert /usr/local/bin
    - name: Build (release)
      run: swift build -c release
    - name: Publish Version
      uses: 123FLO321/github-docker-temp@0.5.0
      with:
        accessToken: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish Commit
      uses: 123FLO321/github-docker-temp@0.5.0
      with:
        imageTag: ${{ github.sha }}
        accessToken: ${{ secrets.GITHUB_TOKEN }}

