name: Swift

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    container:
      image: swift:5.4
    steps:
    - uses: actions/checkout@v4
    - name: Verify Swift version
      run: swift --version
    - name: Install Additional Requirements
      run: |
        sudo apt-get install -y libmysqlclient-dev imagemagick
        sudo sed -i -e 's/-fabi-version=2 -fno-omit-frame-pointer//g' /usr/lib/x86_64-linux-gnu/pkgconfig/mysqlclient.pc
        sudo cp /usr/bin/convert /usr/local/bin
    - name: Resolve
      run: swift package resolve
    - name: Build
      run: swift build --enable-test-discovery -Xswiftc -g -c debug
    - name: Test
      run: swift test --enable-test-discovery -Xswiftc -g -c debug
  deploy:
    if: github.event_name == 'push'
    runs-on: ubuntu-22.04
    container:
      image: swift:5.4
    steps:
    - uses: actions/checkout@v4
    - name: Set .gitsha
      run: "echo ${{github.sha}} > .gitsha"
    - name: Set .gitref
      run: "echo ${{github.ref}} > .gitref"
    - name: Verify Swift version
      run: swift --version
    - name: Install Additional Requirements
      run: |
        sudo apt-get install -y libmysqlclient-dev imagemagick
        sudo sed -i -e 's/-fabi-version=2 -fno-omit-frame-pointer//g' /usr/lib/x86_64-linux-gnu/pkgconfig/mysqlclient.pc
        sudo cp /usr/bin/convert /usr/local/bin
    - name: Resolve
      run: swift package resolve
      run: swift build -c release
    - name: Publish Version
      uses: 123FLO321/github-docker-temp@0.5.0
      with:
        accessToken: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish Commit
      uses: 123FLO321/github-docker-temp@0.5.0
      with:
        imageTag: ${{ github.sha }}
        accessToken: ${{ secrets.GITHUB_TOKEN }}

