name: Swift

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Swift (pin to Swift 5.x)
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: '5.10.1'  # Do you work with Swift 6? Idk, keep latest from ubuntu 20.04 which would be 5.x

      - name: Install system requirements
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libcurl4-openssl-dev libmysqlclient-dev pkg-config imagemagick
          if [ -f /usr/lib/x86_64-linux-gnu/pkgconfig/mysqlclient.pc ]; then
            sudo sed -i -e 's/-fabi-version=2 -fno-omit-frame-pointer//g' /usr/lib/x86_64-linux-gnu/pkgconfig/mysqlclient.pc || true
          fi
          sudo ln -sf /usr/bin/convert /usr/local/bin/convert

      - name: Swift version
        run: swift --version

      - name: Resolve
        run: swift package resolve

      - name: Build
        run: swift build --enable-test-discovery -Xswiftc -g -c debug

      - name: Test
        run: swift test --enable-test-discovery -Xswiftc -g -c debug

  deploy:
    if: github.event_name == 'push'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set .gitsha
        run: echo "${{ github.sha }}" > .gitsha

      - name: Set .gitref
        run: echo "${{ github.ref }}" > .gitref

      - name: Setup Swift (same as tests)
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: '5.10.1' # Same logic as tests

      - name: Build (release)
        run: swift build -c release

      - name: Publish Version
        uses: 123FLO321/github-docker-temp@0.5.0
        with:
          accessToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Commit
        uses: 123FLO321/github-docker-temp@0.5.0
        with:
          imageTag: ${{ github.sha }}
          accessToken: ${{ secrets.GITHUB_TOKEN }}
